
@{
    ViewBag.Title = "第三方资金托管";
    Layout = "~/Views/Shared/Help_Layout.cshtml";
}

<header class="header" onclick="javascript:history.go(-1);">
    <div class="return"><a href="javascript:history.go(-1);"></a></div>
    <h2 class="head_title">第三方资金托管</h2>
</header>
<div class="baozhang_nav">
   
    
    <a href="/Security/security">
        四方六项综合保障体系
    </a>
    <a href="/Security/Support">技术保障</a>
    <a href="/Security/legalclaims">法律保障</a>
    <a href="/Security/FundSecurity"  class="bz_curr">第三方资金托管</a>
    <a href="/Security/RiskControl">风险控制</a>
    
    </div><div class="about_notice_wrap">



    <div class="about_notice_wrap">
        <div style="padding:20px 0 0 0;">
            <div><b>创利投使用的是第三方资金托管模式。通过与第三方支付公司合作，降低投资人的资金风险。</b></div>
            <b>什么是第三方资金托管？</b><br>
            第三方资金托管指创利投平台的投资人的投资理财资金不经过创利投的银行账户，所有的资金流转均通过资金托管公司进行。避免平台挪用投资人资金而给交易双方带来风险。
        </div>
        <div style="padding-top:20px;">
            央行九部委在界定网贷行业非法集资的会议上<b>
                明确建议平台资金由银行或者第三方支付公司进行托管。央行的目的很明确，希望通过第三方资金托管的方式避免资金流入平台的银行账户形成资金池，导致资金池内资金被挪用的风险。
                创利投的第三方资金托管合作机构——汇付天下
            </b><br>
            汇付天下（www.chinapnr.com）是国内首家为P2P公司提供第三方托管的支付企业。目前，全国800多家网贷平台只有近20%使用了第三方资金托管的模式。其中有将近一半的合规网贷平台都已经接入了汇付天下P2P托管账户系统。作为业界最早启动P2P托管业务，拥有最丰富行业经验的第三方托管，汇付天下在如下方面为投资人提供了强有力的保障：
        </div>
        <div style="padding-top:10px;">
            <p><b>系统保障：</b>汇付天下获得央行颁发的《支付业务许可证》，系统通过监管机构严格审查</p>
            <p><b>资金保障：</b>用户账户资金由银行全程监管，所有账户资金进出均由民生银行监督完成</p>
            <p><b>隐私保障：</b>汇付天下采用金融级账户安全加密技术，保证您的账户信息绝不外泄</p>
            <p><b>风控保障：</b>汇付天下制定严格的风控标准，对平台交易进行监控，及时发现异常交易</p>
        </div>
        <div style="padding-top:20px;">
            <b>创利投与汇付天下合作为投资人提供安全、稳定、便捷的服务</b><br>
            1. 创利投与投资人之间资金隔离，屏蔽投资人沉淀资金被挪用的风险；<br>
            2. 汇付天下保障投资人账户中的资金独立存放，投资人可通过创利投平台对本人汇付天下账户进行充值、提现。<br>
            3. 汇付天下对每个投资人进行身份鉴权、绑定银行卡验证和手机验证，保证投资人信息的真实性和安全性；<br>
            4. 汇付天下全程资金监管，资金出入由投资人自主在专属账户输入交易密码后确定完成；<br>
            5. 投资人账户资金变动时，汇付天下实时短信通知投资人；<br>
            6. 汇付天下为投资人提供两种优质取现通道，满足不同需要。
        </div>
        <div style="padding:10px 0 0 0;"><img src="http://www.chuanglitou.cn/admin/attached/image/20150506/20150506175214_4306.jpg" width="100%"></div>
        <div style="padding-top:10px;">根据中国人民银行发布的《非金融机构支付服务管理办法》（人民银行令【2010】第2号），所有客户的交易资金都必须存放于独立的、唯一的商业银行监管账户中。汇付天下的资金存放于中国民生银行的监管账户。非经客户许可或司法确认，包括汇付天下在内的任何单位、个人均无权对资金进行任何操作。</div>

    </div>
    <div class="about_height"></div>
</div>