
@{
    ViewBag.Title = "四方六项综合保障体系";
    Layout = "~/Views/Shared/Help_Layout.cshtml";
}

<header class="header" onclick="javascript:history.go(-1);">
    <div class="return"><a href="javascript:history.go(-1);"></a></div>
    <h2 class="head_title">四方六项综合保障体系</h2>
</header>

<div class="baozhang_nav">
    <a href="/Security/security" class="bz_curr">
        四方六项综合保障体系
    </a>
    <a href="/Security/Support">技术保障</a>
    <a href="/Security/legalclaims">法律保障</a>
    <a href="/Security/FundSecurity">第三方资金托管</a>
    <a href="/Security/RiskControl">风险控制</a>


</div><div class="about_notice_wrap">


    <div style="padding:10px 0 0 0;">
        <b>创利投的四方六项综合保障体系：</b><br>在创利投独特的模式中，四个相关方从六个方面构成了全面完善的保障体系，保证投资人的资金安全。
    </div>
    <div><img src="http://www.chuanglitou.cn/admin/attached/image/20150415/20150415132144_1171.png" width="100%"></div>
    <div style="padding:20px 0 0 0;">
        <div><b>四方：</b></div>
        <b>1. 实力担保机构：</b><br>
        与专业融资性担保机构合作，由担保机构对投资人的投资优先偿付。
    </div>
    <div style="padding-top:10px;">
        <b>2. 创利投：</b><br>
        创利投建立了优质担保机构准入评价体系，为投资人精选优质担保机构，独立的风控团队参与借款企业与项目的尽职调查，与担保机构构成双层风险控制体系。
    </div>
    <div style="padding-top:10px;">
        <b>3. 第三方资金托管机构：</b><br>
        创利投的投资人均在国内最成熟的资金托管机构——汇付天下——拥有独立账户，资金由投资人和借款人直接对接，避免资金被平台挪用的风险。
    </div>
    <div style="padding-top:10px;">
        <b>4. 借款企业实际控制人：</b><br>
        企业实际控制人提供无限连带责任担保，防范企业破产或担保机构出现意外等极端情况。
    </div>
    <div style="padding:20px 0 0 0;">
        <div><b>六项：</b></div>
        <b>1. 担保公司准入和评级机制：</b><br>
        创利投为了投资人的资金安全，借鉴了国内顶级信贷机构评级方法，建立了第三方担保方准入和评价体系，引入风险控制能力极强的合作伙伴，帮助投资人把好前置的信用风险闸门。
    </div>
    <div style="padding-top:10px;">
        <b>2. 实力担保机构提供债权的保障：</b><br>
        创利投致力于同规范运营，有稳定现金流，拥有风险识别和承担能力的担保机构建立牢固的合作关系，激发社会的信用资源，为投资人的债权提供保障。<br>
        第三方担保机构将有针对性的进行贷前、贷中和贷后管理，并以自己的资本承担风险，企业若发生违约，担保机构对投资人在第二个工作日（T+1）进行全额代偿。
    </div>
    <div style="padding-top:10px;">
        <b>3. 完善的风险控制体系：</b><br>
        创利投引进国际先进风控管理经验，结合中国国情，形成一整套高效、严密的风险控制体系，严格审核，层层把关，为债权安全实现提供多重保障。
    </div>
    <div style="padding-top:10px;">
        <b>4. 创利投对项目风险的实质性评估：</b><br>
        创利投的风险控制团队会对借款人及拟融资项目进行实地调研，独立于第三方担保机构，进行风险的实质性评估，独立客观的帮助投资人把好信用风险闸门。
    </div>
    <div style="padding-top:10px;">
        <b>5. 企业实际控制人对融资进行担保：</b><br>
        除了第三方担保机构，创利投引入企业实际控制人对借款进行担保，锁定实际控制人其他资产的代偿责任，防范企业破产或担保机构出现意外等极端情况，为投资人再加一道信用风险闸门，并积极推动借款信息和担保信息进入个人征信档案，进一步降低恶意欺诈的可能性。
    </div>
    <div style="padding-top:10px;" s>
        <b>6. 第三方资金托管：</b><br>
        创利投的投资人在第三方托管机构——汇付天下——都拥有专属账户。资金的流转全部由第三方支付平台——汇付天下根据投资人指令执行，投资人与借款人直接对接。创利投不经手投资人资金。<br>
        汇付天下在金融支付领域排名第一，是首批获得央行颁发的《支付业务许可证》的企业，是中国支付清算协会网络支付工作委员会副理事长单位。
    </div>
</div>
<div class="about_height"></div>
