
@{
    ViewBag.Title = "下载 APP 送1260元大礼包啦";
    Layout = "~/Views/Shared/Index_LayoutStatic.cshtml";
}
<link href="~/Areas/Topic/Sources/20161122/css/css.css" rel="stylesheet" />
<script src="~/Areas/Topic/Sources/20161122/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Areas/Topic/Sources/20161122/Scripts/jquery.flexslider.js"></script>
<script src="~/Areas/Topic/Sources/20161122/Scripts/index.js"></script>
<script src="~/Areas/Topic/Sources/20161122/Scripts/clock_time.js"></script>

<div class="xianjin_datu">
    <div class="xianjin_1260">
        <div class="xianjin_1260_main">
            <div class="xianjin_1260_main_1">
                <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_01bg.png">
                <div class="xianjin_1260_main_1_main">
                    <div class="xianjin_1260_main_1_main_1">
                        <div class="xianjin_1260_main_1_main_1_top">
                            <h3>活动一：下载创利投APP</h3>
                            @*<h3>下载创利投APP</h3>*@
                            <h2>登录即可获得<span style="color:#ffe762">1260</span>元现金券</h2>
                        </div>
                        <div class="xianjin_1260_main_1_main_1_bottom">
                            <p><span></span>活动期间，下载APP并登录的用户可获得1260元现金券<span></span></p>
                            <dl>
                                <dt>
                                    <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_01.png">
                                    <p>10<small>元</small></p>
                                    <span>6张<br>现金券</span>
                                </dt>
                                <dd>
                                    投资<br>
                                    1个月标<br>
                                    每满500元可使用一张
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_01.png">
                                    <p>50<small>元</small></p>
                                    <span>4张<br>现金券</span>
                                </dt>
                                <dd>
                                    投资<br>
                                    3个月以上标（含3个月）<br>
                                    每满5000元可使用一张
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_01.png">
                                    <p>100<small>元</small></p>
                                    <span>5张<br>现金券</span>
                                </dt>
                                <dd>
                                    投资<br>
                                    3个月以上标（含3个月）<br>
                                    每满10000元可使用一张
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_01.png">
                                    <p>500<small>元</small></p>
                                    <span>1张<br>现金券</span>
                                </dt>
                                <dd>
                                    投资<br>
                                    6个月标以上（含6个月）<br>
                                    满50000元可使用一张
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="xianjin_1260_main_1_main_2">
                        <div class="xianjin_1260_main_1_main_2_top">
                            <h3>举个例子</h3>
                        </div>
                        <div class="xianjin_1260_main_1_main_2_bottom">
                            <div class="xianjin_1260_main_1_main_2_bottom_left">
                                <p>通过创利投APP投资了</p>
                                <span class="span_1"><small>3个月标</small>3000元</span>
                                <sub>可使用</sub>
                                <span class="span_2"><small>60元现金券</small>(6张10元)</span>
                            </div>
                            <div class="xianjin_1260_main_1_main_2_bottom_right">
                                <p>通过创利投APP投资了</p>
                                <span class="span_1"><small>6个月标</small>10万元</span>
                                <sub>可使用</sub>
                                <span class="span_2"><small>1000元现金券</small>(5张100元+1张500元)</span>
                            </div>
                            <a href="javascript:ovid(0)" class="xianjin_zhuce" >下载领红包</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xianjin_1260_main_2">
                <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_02bg.png">
                <div class="xianjin_1260_main_2_main">
                    <div class="xianjin_1260_main_2_main_top">
                        <h3>活动二：投资立得返现奖励</h3>
                        @*<h2>本次返现仅限<span style="color:#ffe762">3</span>天</h2>*@
                    </div>
                    <div class="xianjin_1260_main_2_main_bottom">
                        <p><span></span>活动期间，投资立得返现奖励<span></span></p>
                        @*<dl>
                            <dt>
                                <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_02.png"><sub id="yijieshu"></sub>
                                <h2>投资1个月标返现</h2>
                                <h3>1.0<small>%</small></h3>
                                <p>返现金额为投资金额的1.0%</p>
                            </dt>
                            <dd>
                                <a href="javascript:ovid(0)" class="xianjin_zhuce1">马上投资</a>
                            </dd>
                        </dl>*@
                        <dl>
                            <dt>
                                <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_02.png">@*<sub id="yijieshu"></sub>*@
                                <h2>投资3个月标</h2>
                                <h3>1.0<small>%</small></h3>
                                <p>额外获得投资金额1%的返现奖励</p>

                            </dt>
                            <dd>
                                @*<a href="javascript:ovid(0)" class="xianjin_zhuce1">马上投资</a>*@
                                <a href="/Investlist.html" class="xianjin_zhuce1">马上投资</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_02.png">@*<sub id="yijieshu"></sub>*@
                                <h2>投资6个月标</h2>
                                <h3>2.0<small>%</small></h3>
                                <p>额外获得投资金额2%的返现奖励</p>
                            </dt>
                            <dd>
                                @*<a href="javascript:ovid(0)" class="xianjin_zhuce1">马上投资</a>*@
                                <a href="/Investlist.html" class="xianjin_zhuce1">马上投资</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="xianjin_1260_main_3">
                <dl>
                    <dt>活动规则：</dt>
                    @*<dd>1、活动一：2016年11月23日00:00至2016年12月15日24:00<br>活动二：2016年11月23日00:00至2016年11月25日24:00*@
                    <dd>1、活动时间：2016年11月23日00:00至2016年12月31日23:59；</dd>
                    <dd>2、1260元现金券自领取之日起有效期为30天；<br>（现金券需投资金额达到一定数额方可使用，具体金额要求详见券面说明）；</dd>
                    <dd>3、返现金额将在投资成功后直接返到平台账户余额，您可以直接用于提现或者投资创利投其他项目；</dd>
                    <dd>4、所获现金券奖励请到“我的账户 > 资金流水 > 奖励账户流水”查看；</dd>
                    <dd>5、以上活动仅限APP端，渠道用户不享受；</dd>
                    <dd>6、活动最终解释权在法律范围内归北京创利投网络科技有限公司所有。</dd>

                                       
                    @*<dd>3、活动二中返现金额将在投资成功后直接返到平台账户余额，您可以直接用于提现或者投资创利投其他项目；</dd>
                    <dd>4、所获现金券奖励请到“我的账户 > 资金流水 > 奖励账户流水”查看；</dd>
                    <dd>5、以上活动仅限APP端，渠道用户不享受；</dd>
                    <dd>6、活动最终解释权在法律范围内归北京创利投网络科技有限公司所有。</dd>*@
                </dl>
            </div>
        </div>
        <div class="xianjin_fixed" style="z-index:1">
            <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_03.png">
        </div>
        <!-- <a href="#" style="position:fixed;right:0%;top:30%;"><img src="images/126011.png" style="width:400px;"></a> -->
        <div class="shade">
            <div class="shade_1">
                <span>X</span>
            </div>
            <div class="shade_2">
                <span>X</span>
            </div>
        </div>
    </div>

    <div class="xianjin_fixed_right" >
        <img src="~/Areas/Topic/Sources/20161122/images/xianjin_1260_05.png">
    </div>
</div>
<script type="text/javascript">
    $(".xianjin_zhuce").on("click", function () {
        $(".shade").show();
        $(".shade_1").show();
    });
    $(".shade_1").on("click", "span", function () {
        $(".shade").hide();
        $(".shade_1").hide();
    });
    $(".xianjin_fixed img").on("click", function () {
        $(".shade").show();
        $(".shade_2").show();
    });
    $(".shade_2").on("click", "span", function () {
        $(".shade").hide();
        $(".shade_2").hide();
    });
    $(".xianjin_zhuce1").on("click", function () {
        //$(".shade").show();
        //$(".shade_1").show();
    });
    window.onscroll = function () {
        var aa = $(window).scrollTop();
        var cc = $(window).height();
        if (aa > cc * 0.4) {
            $(".xianjin_fixed_right").css({
                "position": "fixed",
                "top": "40%"
            });
        }
    };
</script>
<style>
    /*导航我要投资下拉菜单--放在css.css里面的样式*/
    .xianjin_1260_main_2_main_bottom dl dt h2{
        color: #ff1a4f;
        background:-webkit-linear-gradient(bottom,#e74806,#ff8e30);
        -webkit-background-clip:text;/*只有webkit内核支持text的剪切模式*/
        color:transparent;
    }
.hea_p4 {
    display: inline-block;
    font-size: 0;
    text-align: right;
    height: 35px;
    width: 546px;
}
    .w_logo1 li {
        display: inline-block;
        float: left;
    }

        .w_logo1 li.subnav-tz {
            position: relative;
        }

        .w_logo1 li a {
            float: none;
            border-bottom: 3px solid transparent;
        }

    .menuBox {
        position: absolute;
        z-index: 1000;
        border: 1px solid #e6e6e6;
        top: 10px;
        left: 0px;
        width: 91px;
        background-color: #fff;
        display: inline-block;
        padding: 5px 0;
        top: 70px;
        left: 0px;
        display: none;
    }

    .w_logo1 li.subnav-tz a:hover {
        border-bottom: 3px solid transparent;
    }

    .menuBox .sanjiao {
        height: 0;
        width: 0;
        position: absolute;
        border: 15px solid transparent;
        border-bottom-color: #e6e6e6;
        top: -31px;
        left: 25px;
        margin: 0;
        padding: 0;
    }

    .menuBox .sanjiao2 {
        height: 0;
        width: 0;
        position: absolute;
        border: 15px solid transparent;
        border-bottom-color: #fff;
        top: -30px;
        left: 25px;
        margin: 0;
        padding: 0;
    }

    .menuBox ul li {
        display: block;
        padding-left: 16px;
        line-height: 30px;
        height: 30px;
        float: none;
        overflow: hidden;
        width: 60px;
    }

        .menuBox ul li a {
            display: inline-block;
            width: 60px;
            height: 30px;
            overflow: hidden;
            color: #666;
            line-height: 30px;
            text-align: left;
            float: none;
            margin-right: 0;
            font-size: 14px;
        }

            .menuBox ul li a:hover {
                border-bottom: none;
            }
</style>
