@using ChuanglitouP2P.Common

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    @Url.ApiFile("css.css").ToHtml()
    @Url.ApiFile("jquery-1.11.1.min.js").ToHtml()
    <script>
        (function (doc, win) { var docEl = doc.documentElement, resizeEvt = "orientationchange" in window ? "orientationchange" : "resize", recalc = function () { var clientWidth = docEl.clientWidth; if (!clientWidth) return; docEl.style.fontSize = 20 * (clientWidth / 320) + "px" }; if (!doc.addEventListener) return; win.addEventListener(resizeEvt, recalc, false); doc.addEventListener("DOMContentLoaded", recalc, false) })(document, window)
    </script>
</head>
<body>
    <div class="ag_body">
        <h2 class="ag_h2">创利投注册协议</h2>
        <article class="ag_art">
            本网站由北京创利投网络科技有限公司 （“本公司”）负责运营 （以下“本网站 ”均指创利投网站及其运营公司北京创利投网络科技有限公司）。本协议双方为本网站用户 （“用户 ”或“您 ”）与本公司，适用于用户注册使用本网站服务 （“服务 ”）的全部活动。在您注册成为本网站用户前请务必仔细阅读以下条款。若您一旦注册，则视为您接受本网站的服务并受创利投网站使用协议 （“本协议 ”）以下条款的约束。若您不接受以下条款，请停止注册或主动停止使用本网站的服务。
        </article>
        <h3 class="ag_h3">一、本协议的签署和修订</h3>
        <article class="ag_art">
            <b>1.1、</b>本协议包括以下所有条款，同时也包括本网站已经发布的或者将来发布的各类条款、通知和规则。所有条款、通知和规则均为本协议不可分割的一部分，与本协议具有同等法律效力。
        </article>
        <article class="ag_art">
            <b>1.2、</b>您在此确认知悉并同意本公司有权根据需要不时修改、增加或删减本协议。本公司将采用在本网站公示或其他本公司认为适当的方式通知您该等修改、增加或删减，您有义务注意并认真阅读该等公示。一经本网站公示，视为已经通知到您且该等修改、增加或删减同时生效。若您在本协议及各类规则变更后继续使用本网站服务的，视为您已仔细认真阅读、充分理解并同意接受修改后的本协议及各类规则，且您承诺遵守修改后的本协议及各类规则内容，并承担相应的义务和责任。若您不同意修改后的本协议及各类规则内容，应立即停止使用本网站服务。本公司保留中止、终止或限制您继续使用本网站服务的权利，但该等终止、中止或限制行为并不豁免您在本网站已经进行或完成的任何交易或行为下所应承担的责任和义务。本公司不承担任何因此导致的法律或经济责任。
        </article>
        <article class="ag_art">
            <b>1.3、</b>您确认本协议后，本协议即在您和本网站之间产生法律效力。您只要在“我已阅读并且同意创利投的使用协议 ”前的选择框里打钩并按照本网站规定的注册程序成功注册为用户，您的行为即表示同意并签署了本协议。本协议不涉及您与本网站的其他用户之间因网上交易而产生的任何法律关系及法律纠纷，但您在此同意将全部接受和履行与本网站其他用户或下述法律文件所记载的有关其它方在本网站签订的任何和所有电子协议、合同及其他法律文本，并承诺按该协议、合同及法律文本的规定享有和/或放弃相应的权利、承担和/或豁免相应的义务。
        </article>
        <h3 class="ag_h3">二、用户使用规则 </h3>
        <article class="ag_art">
            为有效保障您使用本网站时的合法权益，您理解并同意接受以下规则：
        </article>
        <article class="ag_art">
            <b>2.1、</b>授权代理
        </article>
        <article class="ag_art">
            一旦您签署本协议，您即不可撤销地授权本公司代理您在符合指定条件或状态时，负责处理借款、担保及融资相关的放款、回收、催收、日常管理及其他相关工作，包括但不限于：
        </article>
        <article class="ag_art">
            (1)协助您通过本网站平台参与借款标的投标；
        </article>
        <article class="ag_art">
            (2)撮合借贷及担保交易，并代表交易各方协商确定借款及担保基本条件和条款，起草、修改、达成并保存借款及担保协议及其他相关交易文件；
        </article>
        <article class="ag_art">
            (3)代表您指令存管人冻结或划转资金：(a)在您投标、放款等环节，代表您指令存管人冻结投标资金，将冻结资金从您监管账户划转至借款人监管账户；(b)在您提现环节，代表您指令存管人，将还款资金从您监管账户划转至您提现账户 （有关监管账户、提现账户等相关定义见借款协议）；
        </article>
        <article class="ag_art">
            (4)当借款人出现逾期还款或发生其他违约行为时，按照借款、担保、债务转让协议等约定通知担保人或债务受让人履行相应的清偿义务；
        </article>
        <article class="ag_art">
            (5)代理您行使追索权。当您决定通过诉讼或其他方式追究借款人和/或担保人和/或债务受让人的违约责任时，由本公司在授权范围内代理您向借款人和/或担保人和/或债务受让人执行您的决定并追究违约责任。本公司可以推荐及委托代理人代理您向借款人和/或担保人和/或债务受让人提起诉讼或应诉 （如果出现各投资人对委托对象、委托权限、委托方式和费用等委托事项存在争议，由本公司最终决定），相关费用 （包括代理费、诉讼或仲裁费、差旅费以及其他由代理人及本公司实际发生的费用）由各投资人按照各投资人届时的应收本息金额比例共同承担；您原则上不得逾越本公司自行向借款人、担保人或债务受让人提起诉讼、仲裁或以其他形式向借款人、担保人或债务受让人主张权利或进行追索；本公司应及时向您通报有关追索、诉讼事项的进展情况，并将实现的债权款项 （包括借款本息和罚息、复利、违约金、赔偿金等）按照您届时对借款人拥有的应收借款本息金额比例在各投资人之间分配并汇入您监管账户。
        </article>
        <article class="ag_art">
            (6)指定投资人中的一人或多人或其他本公司认为合适的人选 （“代理人 ”）代表您与担保公司、借款人或债务受让人就借款标的最高额借款、最高额担保或债务转让事宜进行谈判和磋商，并起草、修改、签订和保存相应的 《最高额借款合同》、《最高额担保合同》（如有）及 《债务转让协议》。在您点击确认本网站《借款协议》的同时，与《借款协议》项下借款标对应的《最高额借款合同》、《最高额担保合同》（如有）及 《债务转让协议》项下代理人的权利义务将转移给您，即在您提供的借款金额范围内，您将享有 《最高额借款合同》、《最高额担保合同》（如有）及 《债务转让协议》项下代理人的权利，并承担和履行 《最高额借款合同》、《最高额担保合同》（如有）及 《债务转让协议》项下代理人的责任和义务。
        </article>
        <article class="ag_art">
            <b>2.2、</b> 授权方式
        </article>
        <article class="ag_art">
            本公司通过以下三种方式接受来自您的指令：
        </article>
        <article class="ag_art">
            (1)您在本网站或其他可使用本服务的网站或软件上通过以您的投资人账户名及密码或数字证书等安全产品登录投资人账户并依照本服务预设流程修改或确认的交易状态或指令；
        </article>
        <article class="ag_art">
            (2)您通过您注册时作为该账户名称或者与该账户绑定的手机或其他专属于您的通讯工具 （“该手机 ”）号码向本公司发送的信息 （短信或电话等）回复；
        </article>
        <article class="ag_art">
            (3)您通过您注册时作为该账户名称或者与该账户名称绑定的其他硬件、终端、软件、代号、编码、代码、其他账户名等有形体或无形体向本公司发送的信息 （如本方式所指有形体或无形体具备与该手机接受信息相同或类似的功能，以下第2.3款涉及该手机的条款同样适用于本方式）；
        </article>
        <article class="ag_art">
            (4)无论您通过以上三种方式中的任一种向本公司发出指令，都不可撤回或撤销，且成为本公司代理您进行本服务的唯一指令，视为您本人的指令，您应当自己对本公司忠实执行上述指令产生的任何结果承担责任。本协议所称绑定，指您的投资人账户与本条上述所称有形体或无形体存在对应的关联关系，这种关联关系使得本服务的某些服务功能对您的投资人账户得以实现，且使得这些有形体或无形体能够作为本公司对您的投资人账户的识别和认定依据。
        </article>
        <article class="ag_art">
            <b>2.3、</b>操作提示
        </article>
        <article class="ag_art">
            (1)您在使用本服务过程中，本协议内容中、本网站上出现的关于交易操作的提示或本公司发送到该手机的信息 （短信或电话等）内容是您使用本服务的相关规则，您使用本服务即表示您同意接受本服务的相关规则。您了解并同意本公司有权单方修改服务的相关规则，而无须征得您的同意，服务规则应以您使用服务时的页面提示 （或发送到该手机的短信或电话等）为准，您同意并遵照服务规则 （包括不时变更的服务规则）是您使用本服务的前提；
        </article>
        <article class="ag_art">
            (2)本公司会以电子邮件 （或发送到该手机的短信或电话等）方式通知您交易进展情况以及提示您进行下一步的操作，但本公司不保证您能够收到或者及时收到该邮件 （或发送到该手机的短信或电话等），且不对此承担任何后果，因此，在交易过程中您应当及时登录到本网站查看和进行交易操作。因您没有及时查看和对交易状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，本公司不负任何责任；
        </article>
        <article class="ag_art">
            (3)本公司对您所交易的标的物不提供任何形式的鉴定、证明的服务。除本协议另有规定外，如您与交易对方发生交易纠纷，您授权由本公司根据本协议及本网站上载明的各项规则进行处理。因上述纠纷所产生的经济及法律责任由您自行承担，同时受限于第2.1(5)条的规定，您为解决纠纷而支出的通讯费、文件复印费、鉴定费等均由您自行承担。
        </article>

        <article class="ag_art">
            <b>2.4、</b>资金流转
        </article>
        <article class="ag_art">
            (1)本公司并非银行或其它金融机构，本服务也非金融业务，本协议项下的资金移转均通过存管人来实现，你理解并同意您的资金于流转途中的合理时间；
        </article>
        <article class="ag_art">
            (2)您确认并同意，您应自行承担您使用本服务期间由存管人保管或代收或代付款项的货币贬值风险，并且本公司无须就此等款项向您支付任何孳息或其他对价。
        </article>

        <article class="ag_art">
            <b>2.5、</b>交易风险
        </article>
        <article class="ag_art">
            (1)在使用本服务时，若您或您的交易对方未遵从本公司的相关服务条款或网站说明、交易页面中之操作提示、规则，则本公司有权拒绝为您与交易对方提供相关服务，且本公司不承担损害赔偿责任。若发生上述状况，而借款相关款项已先行划付至您或他人在存管人处开立的资金监管账户名下，您同意本公司有权直接指示存管人自相关账户余额中扣回款项及 （或）禁止您要求支付此笔款项之权利。该等款项若已汇入您的银行账户，您同意相关款项的债权人 （“债权人 ”）有向您事后索回之权利，因您的原因导致债权人事后追索的，您应当承担债权人合理的追索费用；
        </article>
        <article class="ag_art">
            (2)因您的过错或过失导致的任何损失由您自行承担，该过错或过失包括但不限于：不按照交易提示操作，未及时进行交易操作，遗忘或泄漏账户或密码信息，账户或密码信息被他人破解，您使用的计算机被他人侵入等。
        </article>
        <h3 class="ag_h3">三、使用限制 </h3>
        <article class="ag_art">
            <b>3.1、</b>本网站只接受持有中国有效身份证明的18周岁以上的具有完全民事行为能力的自然人成为网站用户。如您不符合资格，请勿注册，否则本网站保留随时中止或终止您用户资格的权利。您在此向本网站保证，您已符合年龄和国籍条件，如因您向本网站提供虚假信息或承诺而导致本网站或本公司蒙受任何损失，您将承担全部责任并赔偿相关损失。
        </article>
        <article class="ag_art">
            <b>3.2、</b>您注册成功后，不得将本网站的用户名转让给第三方使用。您确认，您用您的用户名和密码登陆本网站后在本网站的一切行为均代表您本身作出的行为并由您承担相应的法律后果。任何利用您的用户名以及密码登陆本网站并从事交易等行为均将被视为您的行为。因此，您有义务非常谨慎的保管自己的用户名以及密码。本网站对您的用户名和密码的遗失或被盗取所产生的后果不承担任何责任。
        </article>
        <article class="ag_art">
            <b>3.3、</b>您有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性。如您因网上交易与其他用户产生诉讼的，其他用户有权通过司法部门要求网站提供相关资料。
        </article>
        <article class="ag_art">
            <b>3.4、</b>经国家生效法律文书或行政处罚决定确认您存在违法行为，或者本网站有足够事实依据可以认定您存在违法或违反本协议的行为，或者您借款逾期未还的，本网站有权在本网站及互联网络上公布您的违法、违约行为，并有权将该内容记入任何与您相关的信用资料和档案。
        </article>
        <h3 class="ag_h3">四、本网站服务</h3>
        <article class="ag_art">
            <b>4.1、</b>本网站提供的服务包括但不限于：提供交易机会、发布借款需求、查阅交易机会、签订和查阅合同、信用咨询、评估、信息订制、交易记账、信用咨询及贷后管理服务，全权代表投资人和借款人负责处理借贷交易项下借款的放款、回收、催收、日常管理及其他相关工作等等服务，具体详情以本网站当时提供的服务内容为准。您同意，针对借款人用户，本网站有权根据借款人提供的各项信息及本网站独立获得的信息评定借款人在本网站所拥有的个人信用等级，或决定是否审核通过借款人的借款申请。
        </article>
        <article class="ag_art">
            <b>4.2、</b>基于运行和交易安全的需要，本网站可以暂时停止提供、限制或改变本网站服务的部分功能，或提供新的功能。在任何功能减少、增加或者变化时，只要您仍然使用本网站的服务，表示您仍然同意本协议或者变更后的协议。
        </article>
        <article class="ag_art">
            <b>4.3、</b>您确认，您在本网站上按本网站服务流程所确认的交易状态将成为本网站为您进行相关交易或操作 （包括但不限于充值、冻结资金、代为支付或收取款项、订立合同等）的明确指令。您同意本网站有权按相关指令依据本协议和/或有关文件和规则对相关事项进行处理。
        </article>
        <article class="ag_art">
            <b>4.4、</b>您未能及时对交易状态进行修改或确认或未能提交相关申请所引起的任何纠纷或损失由您本人负责，本网站不承担任何责任。
        </article>

        <h3 class="ag_h3">五、服务费用 </h3>
        <article class="ag_art">
            用户注册使用本网站服务，本公司有权向用户收取服务费用，具体服务费用以本网站公告或其他协议为准。用户承诺按照本协议约定向本网站支付服务费用，并同意本网站有权自其有关账户中直接扣划服务费用。用户通过本网站与其他方签订协议的，用户按照签署的协议约定向其他方支付费用。
        </article>
        <h3 class="ag_h3">六、资金管理  </h3>
        <article class="ag_art">
            <b>6.1、</b>就您在本网站进行的借款或出借，本网站和/或本网站委托的第三方机构将为您提供“资金管理服务 ”，主要包括但不限于：资金的充值、提现、代收、代付、查询等。您可以通过本网站有关页面的具体规则或说明详细了解。
        </article>
        <article class="ag_art">
            <b>6.2、</b>您了解，上述充值、提现、代收、代付以及查询等服务涉及本网站与第三方支付机构或金融机构的合作。您同意：(a) 受第三方支付机构或金融机构可能仅在工作日进行资金代扣及划转的现状等各种原因所限，本网站不对前述服务的资金到账时间做任何承诺，也不承担与此相关的责任，包括但不限于由此产生的利息、货币贬值等损失；(b) 一经您使用前述服务，即表示您不可撤销地授权本网站进行相关操作，且该等操作是不可逆转的，您不能以任何理由拒绝付款或要求取消交易。就前述服务，您应按照有关文件及第三方支付机构或金融机构的规定支付第三方的费用，您与第三方之间就费用支付事项产生的争议或纠纷，与本网站无关。
        </article>
        <article class="ag_art">
            <b>6.3、</b>您保证并承诺您通过本网站平台进行交易的资金来源合法。您同意，本公司有权按照包括但不限于公安机关、检察机关、法院等司法机关、行政机关、军事机关的要求协助对您的账户及资金等进行查询、冻结或扣划等操作。
        </article>
        <article class="ag_art">
            <b>6.4、</b>本网站有权基于交易安全等方面的考虑不时设定涉及交易的相关事项，包括但不限于交易限额、交易次数等。您了解，本网站的前述设定可能会对您的交易造成一定不便，您对此没有异议。
        </article>

        <article class="ag_art">
            <b>6.5、</b>如果本网站发现了因系统故障或其他因本公司原因导致的处理错误，无论有利于本网站还是有利于您，本网站都有权在根据本协议规定通知您后纠正该错误。如果该错误导致您实际收到的金额少于您应获得的金额，则本网站在确认该处理错误后会尽快将您应收金额与实收金额之间的差额存入您的用户账户。如果该错误导致您实际收到的金额多于您应获得的金额，则无论错误的性质和原因为何，您都应及时根据本网站向您发出的有关纠正错误的通知的具体要求返还多收的款项或进行其他操作。您理解并同意，您因前述处理错误而多付或少付的款项均不计利息，本网站不承担因前述处理错误而导致的任何损失或责任 （包括您可能因前述错误导致的利息、汇率等损失），但因本网站恶意而导致的处理错误除外。
        </article>
        <article class="ag_art">
            <b>6.6、</b>在任何情况下，对于您使用本网站服务过程中涉及由第三方提供相关服务的责任由该第三方承担，本网站不承担该等责任。因您自身的原因导致本网站服务无法提供或提供时发生任何错误而产生的任何损失或责任，由您自行负责，本网站不承担责任。
        </article>
        <h3 class="ag_h3">七、电子合同</h3>
        <article class="ag_art">
            <b>7.1、</b>在本网站平台交易需订立的协议采用电子合同方式，可以有一份或者多份并且每一份具有同等法律效力。您或您的代理人根据有关协议及本网站的相关规则在本网站确认签署的电子合同即视为您本人真实意愿并以您本人名义签署的合同，具有法律效力。您应妥善保管自己的账户密码等账户信息，您通过前述方式订立的电子合同对合同各方具有法律约束力，您不得以账户密码等账户信息被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务。
        </article>
        <article class="ag_art">
            <b>7.2、</b>您根据本协议以及本网站的相关规则签署电子合同后，不得擅自修改该合同。本网站向您提供电子合同的保管查询、核对等服务，如对电子合同真伪或电子合同的内容有任何疑问，您可通过本网站的相关系统板块查阅有关合同并进行核对。如对此有任何争议，应以本网站记录的合同为准。
        </article>

        <h3 class="ag_h3">八、责任限制 </h3>
        <article class="ag_art">
            <b>8.1、</b>基于互联网的特殊性，本公司无法保证本网站的服务不会中断，对于包括但不限于本公司、本网站及相关第三方的设备、系统存在缺陷，计算机发生故障、遭到病毒、黑客攻击或者发生地震、海啸等不可抗力而造成服务中断或因此给用户造成的损失，本公司不承担任何责任，有关损失由您自己承担。
        </article>
        <article class="ag_art">
            <b>8.2、</b>本公司无义务监测本网站内容。您对于本网站披露的信息、选择使用本网站提供的服务，选择参与交易等，应当自行判断真实性和承担风险，由此而产生的法律责任和后果由您自己承担，本公司不承担任何责任。
        </article>
        <article class="ag_art">
            <b>8.3、</b>与本公司合作的第三方机构向您提供的服务由第三方机构自行负责，本公司不对此等服务承担任何责任。
        </article>
        <article class="ag_art">
            <b>8.4、</b>本网站的网站内容可能涉及由第三方所有、控制或者运营的其他网站的内容或链接 （“第三方网站 ”）。本网站不能保证也没有义务保证第三方网站上的信息的真实性和有效性。对于该等内容或链接，您确认按照第三方网站的使用协议确定相关权利义务，而不是按照本协议。第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险，而与本网站无关。
        </article>
        <article class="ag_art">
            <b>8.5、</b>除非本网站或其合作方在特定投资交易成立后的电子协议书中明示承担责任外，本网站提供的服务中不带有对本网站中的任何用户、任何交易的任何保证，因此本网站及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员 （“本网站方 ”）不保证由其他用户或机构提供的内容的真实性、充分性、及时性、可靠性、完整性和有效性，并且不承担任何由此引起的法律责任。
        </article>
        <article class="ag_art">
            <b>8.6、</b>无论如何，本公司对您承担的违约赔偿 （如有）总额不超过向用户收取的服务费用总额。
        </article>

        <h3 class="ag_h3">九、用户信息及隐私权保护 </h3>
        <article class="ag_art">
            <b>9.1、</b>用户信息的提供、搜集及核实
        </article>
        <article class="ag_art">
            (1)您有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性、安全性和及时更新，以便本网站为您提供服务并与您进行及时、有效的联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。
        </article>
        <article class="ag_art">
            (2)本网站可能自公开及私人资料来源收集您的额外资料，以更好地了解本网站用户，并为其度身订造本网站服务、解决争议和确保在网站进行交易的安全性。本网站仅收集本网站认为就此目的及达成该目的所必须的关于您的个人资料。
        </article>
        <article class="ag_art">
            (3)您同意本网站可以自行或通过合作的第三方机构对您提交或本网站搜集的用户信息 （包括但不限于您的个人身份证信息等）进行核实，并对获得的核实结果根据本协议及有关文件进行查看、使用和留存等操作。
        </article>
        <article class="ag_art">
            (4)本网站按照您在本网站上的行为自动追踪关于您的某些资料。本网站利用这些资料进行有关本网站之用户的人口统计、兴趣及行为的内部研究，以更好地了解您以便向您和本网站的其他用户提供更好的服务。
        </article>
        <article class="ag_art">
            (5)本网站在本网站的某些网页上使用诸如“网站在本网站的某的资料收集装置。“资料收集装置。“是设置在您的硬盘上的小档案，以协助本网站为您提供度身订造的服务。本网站亦提供某些只能通过使用“设置在您的硬盘上才可得到的功能。本网站还利用“可得到的功能。本使您能够在某段期间内减少输入密码的次数。“您能够在某段期间还可以协助本网站提供专门针对您的兴趣而提供的资料。
        </article>
        <article class="ag_art">
            (6)如果您将个人通讯信息（例如：手机短信、电邮或信件）交付给本网站，或如果其他用户或第三方向本网站发出关于您在本网站上的活动或登录事项的通讯信息，本网站可以将这些资料收集在您的专门档案中。
        </article>
        <article class="ag_art">
            <b>9.2、</b>用户信息的使用和披露
        </article>
        <article class="ag_art">
            (1)您同意本网站可使用关于您的个人资料 （包括但不限于本网站持有的有关您的档案中的资料，及本网站从您目前及以前在本网站上的活动所获取的其他资料）以解决争议、对纠纷进行调停、
            确保在本网站进行安全交易，并执行本网站的服务协议及相关规则。本网站有时候可能调查多个用户以识别问题或解决争议，特别是本网站可审查您的资料以区分使用多个用户名或别名的用户。为限制在网站上的欺诈、非法或其他刑事犯罪活动，使本网站免受其害，您同意本网站可通过人工或自动程序对您的个人资料进行评价。
        </article>
        <article class="ag_art">
            (2)您同意本网站可以使用您的个人资料以改进本网站的推广和促销工作、分析网站的使用率、改善本网站的内容和产品推广形式，并使本网站的网站内容、设计和服务更能符合用户的要求。这些使用能改善本网站的网页，以调整本网站的网页使其更能符合您的需求，从而使您在使用本网站服务时得到更为顺利、有效、安全及度身订造的交易体验。
        </article>
        <article class="ag_art">
            (3)您同意本网站利用您的资料与您联络并 （在某些情况下）向您传递针对您的兴趣而提供的信息，例如：有针对性的广告条、行政管理方面的通知、产品提供以及有关您使用本网站的通讯。您接受本协议即视为您同意收取这些资料。
        </article>
        <article class="ag_art">
            (4)您注册成功后应妥善保管您的用户名和密码。您确认，无论是您还是您的代理人，用您的用户名和密码登录本网站后在本网站的一切行为均代表您并由您承担相应的法律后果。
        </article>
        <article class="ag_art">
            (5)本网站对于您提供的、自行收集到的、经认证的个人信息将按照本协议及有关规则予以保护、使用或者披露。本网站将采用行业标准惯例以保护您的个人资料，但鉴于技术限制，本网站不能确保您的全部私人通讯及其他个人资料不会通过本协议中未列明的途径泄露出去。
        </article>
        <article class="ag_art">
            (6)您使用本网站服务进行交易时，您即授权本公司将您的包括但不限于真实姓名、联系方式、信用状况等必要的个人信息和交易信息披露给与您交易的另一方或本网站的合作机构 （仅限于本网站为完成拟向您提供的服务而合作的机构）。
        </article>
        <article class="ag_art">
            (7)本网站有义务根据有关法律要求向司法机关和政府部门提供您的个人资料。在您未能按照与本协议、本网站有关规则或者与本网站其他用户签订的有关协议的约定履行自己应尽的义务时（包括但不限于当您作为借款人借款逾期或有其他违约时），本网站有权根据自己的判断、有关协议和规则、国家生效裁决文书或者与该笔交易有关的其他用户的合理请求披露您的个人资料 （包括但不限于在本网站及互联网络上公布您的违法、违约行为，并有关将该内容记入任何与您相关的信用资料、档案或数据库），并且作为出借人的其他用户可以采取发布您的个人信息的方式追索债权或通过司法部门要求本网站提供相关资料，本网站对此不承担任何责任。
        </article>

        <article class="ag_art">
            <b>9.3、</b>您对其他用户信息的使用
        </article>
        <article class="ag_art">
            (1)在本网站提供的交易活动中，您无权要求本网站提供其他用户的个人资料，除非符合以下条件：
        </article>
        <article class="ag_art">
            1、您已向法院起诉其他用户的在本网站活动中的违约行为；
        </article>
        <article class="ag_art">
            2、与您有关的其他用户逾期未归还借款本息；
        </article>
        <article class="ag_art">
            3、本网站被吊销营业执照、解散、清算、宣告破产或者其他有碍于您收回借款本息的情形。
        </article>
        <article class="ag_art">
            (2)如您通过签署有关协议等方式获得其他用户的个人信息，您同意不将该等个人信息用于除还本付息或向借款人追索债权以外的其他任何用途，除非该等信息根据适用的法律规定、被有管辖权的法院或政府部门要求披露。本款所述保密义务在本协议终止后持续有效。
        </article>
        <h3 class="ag_h3">十、知识产权保护条款 </h3>
        <article class="ag_art">
            <b>10.1、</b>本网站中的所有内容均属于本公司所有，包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片、音频、视频及其他全部信息。本网站内容受中国知识产权法律法规及各国际版权公约的保护。
        </article>
        <article class="ag_art">
            <b>10.2、</b>未经本公司事先书面同意，用户承诺不以任何形式复制、模仿、传播、出版、公布、展示本网站内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。用户承认本网站内容是属于本公司的财产。
        </article>
        <article class="ag_art">
            <b>10.3、</b>未经本公司书面同意，用户不得将本网站包含的资料等任何内容发布到任何其他网站或者服务器。任何未经授权对本网站内容的使用均属于违法行为，本公司有权追究用户的法律责任。
        </article>

        <h3 class="ag_h3">十一、协议终止及账户的暂停、注销或终止  </h3>
        <article class="ag_art">
            <b>11.1、</b>除非本网站终止本协议或者您申请终止本协议且经本网站同意，否则本协议始终有效。在您违反了本协议、相关规则，或在相关法律法规、政府部门的要求下，本网站有权通过站内信、电子邮件通知等方式终止本协议、关闭您的账户或者限制您使用本网站。但本网站的终止行为不能免除您根据本协议或在本网站生成的其他协议项下的还未履行完毕的义务。
        </article>
        <article class="ag_art">
            <b>11.2、</b>您若发现有第三人冒用或盗用您的用户账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知本网站，要求本网站暂停相关服务，否则由此产生的一切责任由您本人承担。同时，您理解本网站对您的请求采取行动需要合理期限，在此之前，本网站对第三人使用该服务所导致的损失不承担任何责任。
        </article>
        <article class="ag_art">
            <b>11.3、</b>您决定不再使用用户账户时，应首先清偿所有应付款项（包括但不限于于款本金、利息、罚息、违约金、服务费、管理费等），再将用户账户中的可用款项 （如有）全部提现或者向本网站发出其它合法的支付指令，并向本网站申请注销该用户账户，经本网站审核同意后可正式注销用户账户。会员死亡或被宣告死亡的，其在本协议项下的各项权利义务由其继承人承担。若会员丧失全部或部分民事权利能力或民事行为能力，本网站有权根据有效法律文书 （包括但不限于生效的法院判决等）或其法定监护人的指示处置与用户账户相关的款项。
        </article>
        <article class="ag_art">
            <b>11.4、</b>本网站有权基于单方独立判断，在认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除，且无需对您或任何第三方承担任何责任。前述情形包括但不限于：
        </article>
        <article class="ag_art">
            (1)本网站认为您提供的个人资料不具有真实性、有效性或完整性；
        </article>
        <article class="ag_art">
            (2)本网站发现异常交易或有疑义或有违法之虞时；
        </article>
        <article class="ag_art">
            (3)本网站认为您的账户涉嫌洗钱、套现、传销、被冒用或其他本网站认为有风险之情形；
        </article>
        <article class="ag_art">
            (4)本网站认为您已经违反本协议中规定的各类规则及精神；
        </article>
        <article class="ag_art">
            (5)本网站基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除的其他情形。
        </article>
        <article class="ag_art">
            <b>11.5、</b>您同意在必要时，本网站无需进行事先通知即有权终止提供用户账户服务，并可能立即暂停、关闭或删除您的用户账户及该用户账户中的所有相关资料及档案，并将您滞留在这些账户的全部合法资金退回到您的银行账户。
        </article>
        <article class="ag_art">
            <b>11.6、</b>您同意，用户账户的暂停、中断或终止不代表您责任的终止，您仍应对您使用本网站服务期间的行为承担可能的违约或损害赔偿责任，同时本网站仍可保有您的相关信息。
        </article>
        <article class="ag_art">
            <b>11.7、</b>若您使用第三方网站账号注册本网站用户账户，则您应对您本网站用户账户所对应的第三方网站账号拥有合法的使用权，如您因故对该第三方网站账号丧失使用权的，则本网站可停止为您的该用户账户提供服务。但如该用户账户尚存有余额的，本网站将会为您妥善保管。此时，如您欲取回其原有余额，本网站将提供更换本网站账户名的服务，即您可把您原本网站账户下余额转移到您另外合法注册的本网站账户中；如因故无法自助完成更换账户名，您可以向本网站提出以银行账户接受原有资金的请求，经核验属实后，本网站可配合您将原有资金转移到以您真实姓名登记的银行账户下。
        </article>
        <h3 class="ag_h3">十二、违约责任 </h3>
        <article class="ag_art">
            如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失要求违约方进行赔偿。
        </article>
        <h3 class="ag_h3">十三、法律适用及争议解决  </h3>
        <article class="ag_art">
            <b>13.1、</b>本协议的签订、效力、履行、终止、解释和争端解决受中国法律法规的管辖。
        </article>
        <article class="ag_art">
            <b>13.2、</b>因本协议发生任何争议或与本协议有关的争议，首先应由双方友好协商解决，协商不成的，任何一方有权将纠纷提交至本公司所在地有管辖权的人民法院诉讼解决。
        </article>
        <h3 class="ag_h3">十四、其他条款 </h3>
        <article class="ag_art">
            <b>14.1、</b>本协议自您同意勾选并成功注册为本网站用户之日起生效，除非本网站终止本协议或者用户丧失本网站用户资格，否则本协议始终有效。本协议终止并不免除用户根据本协议或其他有关协议、规则所应承担的义务和责任。
        </article>
        <article class="ag_art">
            <b>14.2、</b>本公司对于用户的违约行为放弃行使本协议规定的权利的，不得视为其对用户的其他违约行为放弃主张本协议项下的权利。
        </article>
        <article class="ag_art">
            <b>14.3、</b>本协议部分条款被认定为无效时，不影响本协议其他条款的效力。
        </article>
        <article class="ag_art">
            <b>14.4、</b>本协议不涉及用户与本网站其他用户之间因网上交易而产生的法律关系及法律纠纷，但用户在此同意将全面接受和履行与本网站其他用户通过本网站签订的任何电子法律文本，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。
        </article>
        <article class="ag_art">
            <b>14.5、</b>除本协议条款另有说明外，本协议中的词语与用户就本网站公布之借款标所签订的 《借款协议》中的词语定义相同。
        </article>
        <article class="ag_art">
            <b>14.6、</b>本公司对本协议享有最终的解释权。
        </article>
        <p class="ag_p">☺理财有风险，投资需谨慎</p>
    </div>
</body>
</html>
