
@{
    ViewBag.Title = "银十开财运，投资大返现";
    //ViewBag.keywords = "新手理财活动,投资理财活动,理财送现金，创利投活动，创利投";
    //ViewBag.desc = "创利投推出新手理财送好礼，现金红包送不停活动，活动期间新用户注册就送50元，首次投资成功再送您50元，挂牌上市企业创利投等您来赚钱！";
    Layout = "~/Views/Shared/Index_Layout.cshtml";
}
<link href="~/Areas/Topic/Sources/20161018/css/css.css" rel="stylesheet" />
<script src="~/Areas/Topic/Sources/20161018/Scripts/jquery.flexslider.js"></script>
<script src="~/Areas/Topic/Sources/20161018/Scripts/index.js"></script>
<script src="~/Areas/Topic/Sources/20161018/Scripts/clock_time.js"></script>
<!--logo导航的修改-->


<div class="yin10_content">
    <div class="yin10_content_1">
        <img src="~/Areas/Topic/Sources/20161018/images/yin10_01.jpg">
    </div>
    <div class="yin10_content_2">
        <img src="~/Areas/Topic/Sources/20161018/images/yin10_02.jpg">
        <div class="yin10_content_2_main">
            <span><a href="/Investlist.html">立即投资</a></span>
            <span><a href="/Investlist.html">立即投资</a></span>
        </div>
    </div>
    <div class="yin10_content_3">
        <img src="~/Areas/Topic/Sources/20161018/images/yin10_03.jpg">
    </div>
    <div class="yin10_content_4">
        <img src="~/Areas/Topic/Sources/20161018/images/yin10_04.jpg">
        <div class="yin10_content_4_main">
            <dl>
                <dt>活动细则</dt>
                <dd>1、投资期限3个月以上（含3个月），返现1%；投资期限6个月以上（含6个月），返现2%；</dd>
                <dd>2、投资完成后，奖励直接返现到用户平台账户；</dd>
                <dd>3、该活动奖励可以和红包（抵现券）或加息券奖励同时使用；</dd>
                <dd>4、天标会按照30天换算成月进行核算，如180天标的会按照6个月进行返现。</dd>
            </dl>
        </div>
    </div>
</div>

<script src="~/Scripts/o_code.js"></script>