
@{
    ViewBag.Title = "新手注册送180元抵扣券,下载创利投APP再送100元抵扣券";
    Layout =  "~/Views/Shared/Activity_Layout.cshtml";

}

<link href="~/Areas/activity/Sources/20170103/style/css.css" rel="stylesheet" />
<script src="~/Areas/activity/Sources/20170103/js/jquery-1.9.1.min.js"></script>
<script src="~/js/appScript.js"></script>
<script>
    (function (doc, win) { var docEl = doc.documentElement, recalc = function () { var clientWidth = docEl.clientWidth; if (!clientWidth) { return } var w = 20 * (clientWidth / 320); if (w > 40) { w = 40 } docEl.style.fontSize = w + "px" }; if (!doc.addEventListener) { return } if ("orientationchange" in window) { win.addEventListener("orientationchange", recalc, false) } win.addEventListener("resize", recalc, false); win.addEventListener("load", recalc, false); doc.addEventListener("DOMContentLoaded", recalc, false); recalc() })(document, window);
</script>
<script type="text/javascript">
    var _oztime = (new Date()).getTime();
</script>
<div class="w_xinkeli">
    <div class="w_xinkeli_main">
        <div class="w_xinkeli_main_1">
            <img src="~/Areas/activity/Sources/20170103/images/w_12_01_01.jpg" alt="">
            <img src="~/Areas/activity/Sources/20170103/images/w_12_01_02.jpg" alt="">
            <img src="~/Areas/activity/Sources/20170103/images/w_12_01_03.jpg" alt="">
        </div>
        <div class="w_xinkeli_main_2">
            <img src="~/Areas/activity/Sources/20170103/images/w_xinkeli_main_2bg.jpg">
            <ul>
                <li>
                    <a class="w_xinkeli_main_2_a1">活动一</a>
                    <p>新手注册<br />送<span>180元</span>抵扣券</p>
                </li>
                <li>
                    <a class="w_xinkeli_main_2_a2">活动二</a>
                    <p>下载APP<br />再送<span>100元</span>抵扣券</p>
                </li>
            </ul>
        </div>
        <div class="w_xinkeli_main_3">
            <div class="w_xinkeli_main_3_top">
                <h3>新手注册送180元抵扣券</h3>
            </div>
            <div class="w_xinkeli_main_3_centent">
                <img src="~/Areas/activity/Sources/20170103/images/w_xinkeli_main_3_centent_bg.png" alt="" class="w_xinkeli_main_3_centent_bg">
                <div class="w_xinkeli_main_3_centent_main">
                    <dl class="w_xinkeli_main_3_dl">
                        <dt>
                            <img src="~/Areas/activity/Sources/20170103/images/w_xinkeli_main_3_dl_tu.png" alt="">
                            <p><a>10</a><span>元抵扣券<br />（3个）</span></p>
                        </dt>
                        <dd>
                            投资1个月产品<br />
                            满500元即可激活10元抵扣券
                        </dd>
                    </dl>
                    <dl class="w_xinkeli_main_3_dl">
                        <dt>
                            <img src="~/Areas/activity/Sources/20170103/images/w_xinkeli_main_3_dl_tu.png" alt="">
                            <p><a>50</a><span>元抵扣券<br />（1个）</span></p>
                        </dt>
                        <dd>
                            投资3个月产品<br />
                            满2500元即可激活50元抵扣券
                        </dd>
                    </dl>
                    <dl class="w_xinkeli_main_3_dl" style="float:none;width:49%!important;">
                        <dt>
                            <img src="~/Areas/activity/Sources/20170103/images/w_xinkeli_main_3_dl_tu.png" alt="">
                            <p><a>100</a><span>元抵扣券<br />（1个）</span></p>
                        </dt>
                        <dd>
                            投资6个月产品<br />
                            满5000元即可激活100元抵扣券
                        </dd>
                    </dl>
                    <a href="/register/Index" class="w_xinkeli_btn1">立即注册</a>
 
                </div>
            </div>
        </div>
        <div class="w_xinkeli_main_4">
            <div class="w_xinkeli_main_4_top">
                <h3>下载创利投APP再送100元抵扣券</h3>
            </div>
            <div class="w_xinkeli_main_4_centent">
                <img src="~/Areas/activity/Sources/20170103/images/w_xinkeli_main_4_centent_bg.png" alt="" class="w_xinkeli_main_4_centent_bg">
                <div class="w_xinkeli_main_4_centent_main">
                    <dl class="w_xinkeli_main_4_dl">
                        <dt>
                            <img src="~/Areas/activity/Sources/20170103/images/w_xinkeli_main_4_dl_tu.png" alt="">
                            <!-- <p>10元抵扣券<br />（3个）</p>
                            <a>10元<small>抵扣券</small></a> -->
                        </dt>
                        <dd>
                            投资1个月产品<br />
                            每满500元即可激活10元抵扣券
                        </dd>
                    </dl>
                    <dl class="w_xinkeli_main_4_dl">
                        <dt>
                            <img src="~/Areas/activity/Sources/20170103/images/w_xinkeli_main_4_dl_tu2.png" alt="">
                            <!-- <p>20元抵扣券<br />（1个）</p>
                            <a>20元<small>抵扣券</small></a> -->
                        </dt>
                        <dd>
                            投资3个月产品<br />
                            每满1000元即可激活20元抵扣券
                        </dd>
                    </dl>
                    <dl class="w_xinkeli_main_4_dl">
                        <dt>
                            <img src="~/Areas/activity/Sources/20170103/images/w_xinkeli_main_4_dl_tu3.png" alt="">
                            <!-- <p>50元抵扣券<br />（1个）</p>
                            <a>50元<small>抵扣券</small></a> -->
                        </dt>
                        <dd>
                            投资6个月产品<br />
                            每满2500元即可激活50元抵扣券
                        </dd>
                    </dl>



                </div>
                <a href="/DownLoad.html" class="w_xinkeli_btn2">下载领红包</a>
            </div>
        </div>
        <div class="w_xinkeli_main_5">
            <div class="w_xinkeli_main_5_top">
                <h3>活动规则</h3>
            </div>
            <dl>
                <dd>1、活动时间：2017年1月3日00:00:00至2017年3月31日23:59:59；</dd>
                <dd>2、抵扣券自领取之日起有效期为30天；</dd>
                <dd>3、所获奖励请到“我的账户 >奖励管理中查看；</dd>
                <dd>4、渠道用户不享受此活动；</dd>
                <dd>5、活动最终解释权在法律范围内归北京创利投网络科技有限公司所有。</dd>
            </dl>
        </div>
    </div>
</div>

