
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>北京创利投网络科技有限公司与新华网股份有限公司（以下简称“新华网”） 签署战略合作协议关系</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/Areas/activity/Sources/20160715/style/css.css" rel="stylesheet" />
    <script src="~/Areas/activity/Sources/20160715/js/jquery-1.9.1.min.js"></script>
    <script>
        (function (doc, win) { var docEl = doc.documentElement, resizeEvt = "orientationchange" in window ? "orientationchange" : "resize", recalc = function () { var clientWidth = docEl.clientWidth; if (!clientWidth) return; docEl.style.fontSize = 20 * (clientWidth / 320) + "px" }; if (!doc.addEventListener) return; win.addEventListener(resizeEvt, recalc, false); doc.addEventListener("DOMContentLoaded", recalc, false) })(document, window)
    </script>
</head>

<body>
    <div class="vis_body">
        <div class="vis_01"></div>
        <div class="vis_02">
            <p>近日，北京创利投网络科技有限公司（以下简称“创利投”）与新华网股份有限公司（以下简称“新华网”） 签署战略合作协议关系。在相关企业活动、社会活动、公益活动等方面，双方会紧密配合，加强合作。今后，新华网将全方位宣传创利投良好的社会形象，优秀的企业文化以及规范的金融服务，着力提升创利投品牌。</p>
            <p>此次创利投与新华网的合作，标志着创利投专业可信赖的品牌形象深入人心，并得到了大众的广泛认可和支持，为创利投稳健发展和品牌传播插上有力羽翼。作为一家积极践行社会责任的企业，创利投会通过新华网等权威媒体网站向社会不断传递正能量，并诚挚邀请各方媒体、网站等社会舆论平台进行监督指导。今后，创利投将在促进P2B行业的持续、健康、稳定发展方面发挥更大的作用。</p>
            <p>新华网是国家通讯社新华社主办的综合新闻信息服务门户网站，是中国最具影响力的网络媒体和具有全球影响力的中文网站。日均多语种、多终端发稿达1.5万条，重大新闻首发率和转载率遥遥领先国内其他网络媒体。</p>
            <p>据Alexa排名显示，新华网在全球7亿多个网站中综合排名第70位，大幅领先美联社、路透社、法新社等通讯社主办的网站，国内综合排名第11位，稳居新闻门户网站首位。</p>
            <p>作为互联网新闻传播的国家队，新华网不断创新传播理念和发展模式，传播中国声音，讲好中国故事，加快建设成为具有广泛国际影响的一流新闻网站和有强大实力的互联网文化企业。</p>
            <p>今后，创利投将在各方权威媒体以及大众的共同监督和支持下，继续朝着打造值得信赖的专业品牌的目标不断前行。</p>
            <p class="vis_img"></p>
            <p class="vis_p01">《创利投与新华网战略合作协议》</p>
        </div>
    </div>
</body>
</html>