
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/IndexBottom_Layout.cshtml";
}

<header class="header">
    <div class="return"><a href="javascript:history.go(-1);"></a></div>
    <h2 class="head_title">关于我们</h2>
</header>
<div class="about_notice_wrap">
   
    <div style="padding:30px 0 0 0; font-weight:bold; color:#ed5502;">联系我们</div>
    <div>
        <p style="padding:10px 0 0 0;">
            北京创利投网络科技有限公司<br>
            地址：北京市朝阳区四惠东通惠河畔创意园1003-B（100022）<br>
            交通：1号线或八通线四惠东站A口出，过天桥向西直行500米，左转河对面即到
        </p>
        <p style="padding:10px 0 0 0;">
            <b style="font-weight:bold; color:#ed5502;">客户服务</b><br>如果您在使用创利投（chuanglitou.cn）的过程中有任何疑问，请联系我们的客服人员。<br>
            电话：010-53732056（周一至周五 09:00-18:00）<br>
            邮件：kefu@chuanglitou.cn<br>
            QQ:400-890-2226
        </p>
        <p style="padding:10px 0 0 0;">
            <b style=" font-weight:bold; color:#ed5502;">信息同步</b><br>欢迎关注我们的新浪微博和微信。<br>
            官方微博：http://weibo.com/chuanglitou<br>
            官方微信：beijingclt
        </p>
    </div>
</div>
<div class="about_height"></div>
<script src="~/js/om_code.js"></script>
