@charset "utf-8";
/* CSS Document */
.cz_table table,.cz_table tbody{width:760px;}
.hkjh_box{position:relative;width:760px;margin-bottom:10px;}
.scrollT{width:100%;max-height:200px;overflow-x:hidden;overflow-y:scroll;}
.cz_table table.hkjh_table{width:742px; border-collapse:collapse;padding-left:0;}
.hkjh_table td{border:1px solid #ccc;}
.hkjh_table .hkjh_left{float:left;padding-left:20px;}
.hkjh_table .hkjh_right{float:right;padding-right:20px;}

.abox{position: absolute; width:20px; height: 20px; right:95px; top:-19px}
.abox2{right:153px; }
.abox-a1,.abox-a2{width:0; height:0; overflow:hidden; border-width:10px; border-style:dotted dotted solid;  position:absolute}
.abox-a1{border-color:transparent transparent #ccc;  top:-1px}
.abox-a2{border-color:transparent transparent #fff;  top:0}

























