
@{
    ViewBag.Title = "解绑银行卡";
    Layout = "~/Views/Shared/IndexBottom_Layout.cshtml";
}

<header class="header">
    <div class="return"><a href="#"></a></div>
    <h2 class="head_title">解绑银行卡</h2>
</header>
<section class="invest_box user_form">
    <div class="group_item">
        <div class="group_tit">交易密码：</div>
        <div class="group_txt"><input type="text" placeholder="请输入交易密码" value="" class="group_text" name="" /></div>
        <div class="group_chevron"></div>
    </div>
</section>
<div class="confirm_btn_box">
    <input name="" value="解绑" type="button" class="invest_btn">
</div>
<div class="bot_height"></div>
