@using ChuanglitouP2P.Common;
@{
    ViewBag.Title = "新年盛惠 新朋老友 17相“投”";
    Layout = "~/Views/Shared/Activity_Layout.cshtml";
}


<script src="~/Areas/activity/Sources/20170104/js/jquery-1.9.1.min.js"></script>
<script src="~/js/appScript.js?v=20170104333"></script>
<script>
    (function (doc, win) { var docEl = doc.documentElement, recalc = function () { var clientWidth = docEl.clientWidth; if (!clientWidth) { return } var w = 20 * (clientWidth / 320); if (w > 40) { w = 40 } docEl.style.fontSize = w + "px" }; if (!doc.addEventListener) { return } if ("orientationchange" in window) { win.addEventListener("orientationchange", recalc, false) } win.addEventListener("resize", recalc, false); win.addEventListener("load", recalc, false); doc.addEventListener("DOMContentLoaded", recalc, false); recalc() })(document, window);
</script>
<script type="text/javascript">
    $(function () {

        var _oztime = (new Date()).getTime();

        $(".BarCentert").on("click", "a", function () {
            $(".shade").show();
        })
        $(".shade").on("click", function () {
            $(".shade").hide();
        })
        $(".fixed_Bar_Close").on("click", function () {
            $(".fixed_Bar").hide();
        })
    })


</script>
<link href="~/Areas/activity/Sources/20170104/css/css.css" rel="stylesheet" />

    <div class="w_newyear">
        <div class="w_newyear_main">
            <div class="w_newyear_main_1">
                <img src="~/Areas/activity/Sources/20170104/images/w_newyear_main_1_01.jpg" alt="">
                <img src="~/Areas/activity/Sources/20170104/images/w_newyear_main_1_02.jpg" alt="">
                <img src="~/Areas/activity/Sources/20170104/images/w_newyear_main_1_03.jpg" alt="">
            </div>
            <div class="w_newyear_main_2">
                <img src="~/Areas/activity/Sources/20170104/images/w_newyear_main_2_01.jpg" alt="">
                <img src="~/Areas/activity/Sources/20170104/images/w_newyear_main_2_02.jpg" alt="">
                <img src="~/Areas/activity/Sources/20170104/images/w_newyear_main_2_03.jpg" alt="" class="sanzhang">
                <div class="w_newyear_main_2_centent">
                    <img src="~/Areas/activity/Sources/20170104/images/w_newyear_main_2_centent_bg.png">
                    <div class="main_2_centent_list">
                        <div class="main_2_centent_list_1">
                            <div class="list1_left">
                                <span></span>
                            </div>
                            <div class="list1_right">
                                <h6>京东E卡50元</h6>
                                <p class="list1_right_p1">
                                    <span>6月标</span>
                                    <span>3月标</span>
                                </p>
                                <p class="list1_right_p2">
                                    <span>累计投资<br /><small>5000</small>元</span>
                                    <span>累计投资<br /><small>1</small>万元</span>
                                </p>
                                <p class="list1_right_p3">
                                    <a href="/">立即投资</a>
                                </p>
                            </div>
                        </div>
                        <div class="main_2_centent_list_1">
                            <div class="list1_left list2_left">
                                <span></span>
                            </div>
                            <div class="list1_right">
                                <h6>京东E卡200元</h6>
                                <p class="list1_right_p1">
                                    <span>6月标</span>
                                    <span>3月标</span>
                                </p>
                                <p class="list1_right_p2">
                                    <span>累计投资<br /><small>1.5</small>万元</span>
                                    <span>累计投资<br /><small>3</small>万元</span>
                                </p>
                                <p class="list1_right_p3">
                                    <a href="/">立即投资</a>
                                </p>
                            </div>
                        </div>
                        <div class="main_2_centent_list_1">
                            <div class="list1_left list3_left">
                                <span></span>
                            </div>
                            <div class="list1_right">
                                <h6>kindle 黑色6英寸（558元）</h6>
                                <p class="list1_right_p1">
                                    <span>6月标</span>
                                    <span>3月标</span>
                                </p>
                                <p class="list1_right_p2">
                                    <span>累计投资<br /><small>5</small>万元</span>
                                    <span>累计投资<br /><small>10</small>万元</span>
                                </p>
                                <p class="list1_right_p3">
                                    <a href="/">立即投资</a>
                                </p>
                            </div>
                        </div>
                        <div class="main_2_centent_list_1">
                            <div class="list1_left list4_left">
                                <span></span>
                            </div>
                            <div class="list1_right">
                                <h6>京东E卡1000元</h6>
                                <p class="list1_right_p1">
                                    <span>6月标</span>
                                    <span>3月标</span>
                                </p>
                                <p class="list1_right_p2">
                                    <span>累计投资<br /><small>10</small>万元</span>
                                    <span>累计投资<br /><small>20</small>万元</span>
                                </p>
                                <p class="list1_right_p3">
                                    <a href="/">立即投资</a>
                                </p>
                            </div>
                        </div>
                        <div class="main_2_centent_list_1">
                            <div class="list1_left list5_left">
                                <span></span>
                            </div>
                            <div class="list1_right">
                                <h6>夏普空气净化器 KC-W280SW（1999元）</h6>
                                <p class="list1_right_p1">
                                    <span>6月标</span>
                                    <span>3月标</span>
                                </p>
                                <p class="list1_right_p2">
                                    <span>累计投资<br /><small>15</small>万元</span>
                                    <span>累计投资<br /><small>30</small>万元</span>
                                </p>
                                <p class="list1_right_p3">
                                    <a href="/">立即投资</a>
                                </p>
                            </div>
                        </div>
                        <div class="main_2_centent_list_1">
                            <div class="list1_left list6_left">
                                <span></span>
                            </div>
                            <div class="list1_right">
                                <h6>iPad mini4 128G金色（3688元）</h6>
                                <p class="list1_right_p1">
                                    <span>6月标</span>
                                    <span>3月标</span>
                                </p>
                                <p class="list1_right_p2">
                                    <span>累计投资<br /><small>30</small>万元</span>
                                    <span>累计投资<br /><small>60</small>万元</span>
                                </p>
                                <p class="list1_right_p3">
                                    <a href="/">立即投资</a>
                                </p>
                            </div>
                        </div>
                        <div class="main_2_centent_list_1" style="border-bottom:none;">
                            <div class="list1_left list7_left">
                                <span></span>
                            </div>
                            <div class="list1_right">
                                <h6>iphone7plus 128G 玫瑰金（7188元）</h6>
                                <p class="list1_right_p1">
                                    <span>6月标</span>
                                    <span>3月标</span>
                                </p>
                                <p class="list1_right_p2">
                                    <span>累计投资<br /><small>50</small>万元</span>
                                    <span>累计投资<br /><small>100</small>万元</span>
                                </p>
                                <p class="list1_right_p3">
                                    <a href="/">立即投资</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newyear_main_2_p">
                    <p>*以实际投资金额计算，奖券金额除外</p>
                    <a href="/" class="newyear_main_2_p_a">立即投资</a>
                </div>
                <div class="newyear_main_bottom">
                    <dl>
                        <dt>活动规则：</dt>
                        <dd><small>1</small><sub>活动时间：</sub><span style="width:auto;">2017年1月4日00:00:00<br />至2017年1月10日23:59:59</span></dd>
                        <dd><small>2</small><span>实物奖励将在活动结束后7个工作日内寄出；</span></dd>
                        <dd><small>3</small><span>以上活动均可使用奖券；不与网站其他活动同享；</span></dd>
                        <dd><small>4</small><span>奖品发放以投资相同期限产品的累计最高投资金额计算；</span></dd>
                        <dd><small>5</small><span>渠道用户不享受此活动；</span></dd>
                        <dd><small>6</small><span>活动最终解释权在法律范围内归北京创利投网络科技有限公司所有。</span></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="shade" style="z-index:9999">
        <img src="~/Areas/activity/Sources/20161014/images/weixintuiguang.png">
    </div>
    <div class="fixed_Bar">
        <div class="BarCentert">
            <img src="~/Areas/activity/Sources/20161014/images/User_img07.png">
            <a href="/DownLoad.html">立刻下载</a>
            <span class="fixed_Bar_Close"></span>
        </div>
    </div>


