
@{
    ViewBag.Title = "找回密码 - 创利投";
    ViewBag.keywords = "创利投,创利投登录,登录创利投,创利投用户登录";
    ViewBag.desc = "创利投是阳光可信赖的互联网金融理财服务平台，主要从事P2P理财、P2B理财、理财网络借贷、投资理财、个人理财等互联网金融服务，历史平均年化收益率8%-12%，由受金融局监管的担保机构提供担保，当日投资当日计息。创利投励志成为客户值得信赖的互联网投融资理财平台。";

    Layout = "~/Views/Shared/Ucenter_Layout.cshtml";
}
<link rel="stylesheet" href="/Content/about.css">
<script src="、js/index.js"></script>
<script src="~/Scripts/Validform_v5.3.2_min.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Scripts/layer.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    var editwindow;
    $(function () {
        $("#signupForm").Validform({
            tiptype: 4,
            ajaxPost: true,
            callback: function (data) {
                if (data.rs == "y") {
                    layer.msg("密码修改成功!", 1, 1);

                }
                else {
                    layer.msg("" + data.error + "",2, 5);
                }
            }
        });

      

    });



</script>



<div class="bContent">
    <div class="content">
        <!--公共的左侧-->
        @UCLeft.HX_UCLeft()
        <!--右侧不同的地方-->
        <div>
            <!--                                                                     主页部分-->
            <div class="conRig">
                <div class="cz_01 xg_pass">
                    <h2 class="cz_1_h2">修改登录密码</h2>
                </div>
                <div class="xg_pass02">
                   @using (Html.BeginForm("PostChangepassword", ViewContext.RouteData.GetRequiredString("controller"), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal m-t", @name = "signupForm", id = "signupForm" }))
                   {

                     <ul>
                        <li><span>旧密码：</span>
                         
                        
                            <input name="olduserpassword" id="olduserpassword" type="password"  datatype="*6-16" nullmsg="原始密码不能空！" errormsg="原始密码范围在6~16位之间！" />
                         </li>
                        <li class="li_pass"><span>新密码：</span>
                         
                        
                         
                            <input name="newuserpassword" id="newuserpassword" type="password"  datatype="*6-16" nullmsg="请设置新密码！" errormsg="新密码范围在6~16位之间！" />
                         
                         </li>
                        <li class="li_pass li_pass1"><span>&nbsp;</span>注：请输入6-16位数字，字母，符号（不含空格）</li>
                       
                          <li><span>确认密码：</span>
                              <input name="reuserpassword" id="reuserpassword" type="password"  datatype="*" recheck="newuserpassword" nullmsg="请再输入一次新密码！" errormsg="您两次输入的账号新密码不一致！" />

                         
                         </li>
                        <li class="li_pass2"><span>修改支付密码：</span><a href="/usercenter/thirdpartylogin" target="_blank">登录第三方资金托管平台</a></li>
                        <li class="li_pass3"><span>&nbsp;</span> <input type="submit" value="确认" name="dd" class="btn_sure" style="margin-left: 90px;"/></li>
                    </ul>

                   }

                </div>

            </div>
        </div>



    </div>

</div>
