@using Webdiyer.WebControls.Mvc
@using ChuangLitouP2P.Models;
@using ChuanglitouP2P.Common;
@model PagedList<hx_td_System_message>
@{
    ViewBag.Title = "我的账户-站内消息-创利投";
    ViewBag.keywords = "我的账户-站内消息-创利投";
    ViewBag.desc = "创利投是阳光可信赖的互联网金融理财服务平台，主要从事P2P理财、P2B理财、理财网络借贷、投资理财、个人理财等互联网金融服务，历史平均年化收益率8%-12%，由受金融局监管的担保机构提供担保，当日投资当日计息。创利投励志成为客户值得信赖的互联网投融资理财平台。";

    Layout = "~/Views/Shared/Ucenter_Layout.cshtml";
}
<script src="~/Scripts/layer.min.js" type="text/javascript" charset="utf-8"></script>
<link href="~/Content/pagecss.css" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    var dff;
    function AjaxStart() {dff= layer.msg("正在获取数据，请稍候...", 0.5, 1);
    }
    function AjaxStop() {
        var index = parent.layer.close(dff); //获取窗口索引
        parent.layer.close(index);
    }

    function setmtypevalue(i)
    {
        $("#mtype").val(i);
        $("#searchForm").submit();
    }

    function messagesdel(id) {
        var msg = "确定删除此条数据吗？";
        if (id == -1)
        {
            msg = "确定要全部删除吗？";
        }
        if (confirm(msg)) {
            var omsg = layer.msg("正在删除数据，请稍候...", 3, 1);
            $.getJSON("/usercenter/Delmessage", { idC: id }, function (data) {

                if (data.ret == 1) {
                    parent.layer.close(omsg);
                    layer.msg("删除成功！", 1, 1, function () {
                        if (id == -1) {
                            window.location.href = "/usercenter/message";
                        }
                    });
                    $("#" + id).parent().remove();
                } else {
                    parent.layer.close(omsg);
                    layer.msg("删除失败！", 1, 5);
                }
            });
        }
    }

</script>
<div class="content">
    <!--公共的左侧-->
    @UCLeft.HX_UCLeft()
    <!--右侧不同的地方-->
    <div>
        <div class="news choose">
            <h2>站内消息</h2>

            @using (Html.BeginForm("message", ViewContext.RouteData.GetRequiredString("controller"), new { id = "" }, FormMethod.Post, new { id = "searchForm", @class = "form-inline well well-sm" }))
            { 
               <input type="hidden" name="mtype" id="mtype" value="0" />

            <div class="nTab">
                <p class="nP" onclick="setmtypevalue(0)">所有消息</p>
                <p onclick="setmtypevalue(1)">投资通知</p>
                <p onclick="setmtypevalue(2)">收益通知</p>
                <p onclick="setmtypevalue(3)">提现通知</p>
                <p onclick="setmtypevalue(4)">充值通知</p>
                <p onclick="setmtypevalue(5)">系统通知</p>
            </div>
            <em class="nAdel" onclick="messagesdel(-1)">
                全部删除
                <img src="/images/nAdel.jpg" alt="" />
            </em>
            }


            <div class="nMassage">               
                
                <div class="nAll" id="dTable">

                    @Html.Partial("_messagelist", Model)


                </div>
            </div>
            






        </div>


    </div>
</div>
@section Scripts{@{Html.RegisterMvcPagerScriptResource();}}