<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SDKServiceBinding"/>
                <binding name="SDKServiceBinding1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sdk4report.eucp.b2m.cn:8080/sdk/SDKService" binding="basicHttpBinding" bindingConfiguration="SDKServiceBinding" contract="SMSService.SDKClient" name="SDKService"/>
            <endpoint address="http://sdk4report.eucp.b2m.cn:8080/sdk/SDKService" binding="basicHttpBinding" bindingConfiguration="SDKServiceBinding1" contract="SMSService.SDKClient" name="SDKService1"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
