

@{
    ViewBag.Title = "10月份新手注册送红包";
    ViewBag.keywords = "新手理财活动,投资理财活动,理财送现金，创利投活动，创利投";
    ViewBag.desc = "创利投推出新手理财送好礼，现金红包送不停活动，活动期间新用户注册就送50元，首次投资成功再送您50元，挂牌上市企业创利投等您来赚钱！";
    Layout = "~/Views/Shared/Index_Layout.cshtml";
}

<link href="~/Areas/Topic/Sources/20161001/Content/css.css" rel="stylesheet" type="text/css" />
<script src="~/Areas/Topic/Sources/20161001/Scripts/jquery-1.9.1.min.js"></script>


<div class="zhuce10_content">
    <div class="zhuce10_content_1">
        <img src="~/Areas/Topic/Sources/20161001/images/zhuce10_1.jpg" class="zhuce10_content_1tupian">
        <div class="zhuce10_content_1_riqi">
            <p>活动时间:10月1日至10月15日</p>
            <span></span>
        </div>
    </div>
    <div class="zhuce10_content_2">
        <img src="~/Areas/Topic/Sources/20161001/images/zhuce10_2.jpg" class="zhuce10_content_2tupian">
        <a class="zhuce10_btn zhuce10_content_2_btn" href="/register.html"></a>
    </div>
    <div class="zhuce10_content_3">
        <img src="~/Areas/Topic/Sources/20161001/images/zhuce10_3.jpg" class="zhuce10_content_3tupian">
        <a class="zhuce10_btn zhuce10_content_3_btn" href="/register.html"></a>
    </div>
    <div class="zhuce10_content_4">
        <img src="~/Areas/Topic/Sources/20161001/images/zhuce10_4.jpg" class="zhuce10_content_4tupian">
        <div class="zhuce10_content_4_main">
            <div>
                <dl>
                    <dt>活动细则</dt>
                    <dd>1、活动时间：2016年10月1日 — 2016年10月15日；</dd>
                    <dd>2、活动期间，用户注册成功（需完成实名认证）可获得188元代金券，该代金券有效期截止到2016年10月15日；</dd>
                    <dd>3、用户首次投资创利投任意项目（最低100元）再送888元代金券，该代金券有效期截止到2016年10月15日；</dd>
                    <dd>4、代金券使用规则：投资到期后，代金券自动转化为可用余额，可随投资本金一起提现，也可用于下次投资，<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp详情见下表：</dd>
                    <dd class="zhuce10_content_4_dd_biaoge">
                        <img src="~/Areas/Topic/Sources/20161001/images/zhuce10_biaoge.png">
                    </dd>
                    <dd>5、所获奖励请到“我的账户 > 资金流水 > 奖励账户流水”查看；</dd>
                    <dd>6、刷奖、冒用他人身份证、银行卡等作弊者一经核实，取消活动资格，创利投有权收回所得奖励。</dd>
                    <dd class="zhuce10_content_4_dd_bottom">活动最终解释权在法律范围内归北京创利投网络科技有限公司所有</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
