@using ChuanglitouP2P.Common;
@using ChuanglitouP2P.Model;
@using ChuanglitouP2P.BLL;
@using Webdiyer.WebControls.Mvc;
@using System.Collections;
@{
    ViewBag.Title = "一元抢iPhone";

    ViewBag.keywords = "投资返现，创利投";

    ViewBag.desc = "新用户注册一元抢iPhone！";

    Layout = "~/Views/Shared/Activity_Layout.cshtml";
}

    <link href="~/Areas/activity/Sources/20160910/css/css.css" rel="stylesheet" />
    <link href="~/Areas/activity/Sources/20160910/css/common.css" rel="stylesheet" />
    <script src="~/Areas/activity/Sources/20160910/js/jquery-1.9.1.min.js"></script>
    <script src="~/Areas/activity/Sources/20160910/js/awardRotate.js"></script>
    <script src="~/Areas/activity/Sources/20160910/js/scroll_js.js"></script>
    <script type="text/javascript">
        alert("活动已结束，请关注其他活动！");
    </script>

    <div class="wqiang_content">
        <div class="wqiang_c01">
            <img src="~/Areas/activity/Sources/20160910/images/wqiang_01.jpg" class="wqiang_c01_bg">
        </div>
        <div class="wqiang_c02">
            <img src="~/Areas/activity/Sources/20160910/images/wqiang_02.jpg" class="wqiang_c02_bg">
            <div class="wqiang_c02_main">
                <div class="wqiang_c02_main_1">
                    <div class="wqiang_c02_main_1_jindubg">
                        <div class="wqiang_c02_main_1_jingdu" style="width: @ViewBag.getLDCount%"></div>
                        <div class="wqiang_c02_main_1_jindubg_zi">
                            <p>活动已加入</p>
                            <span>@ViewBag.ltrCurrentCount </span><small>位</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="wqiang_c03">
            <img src="~/Areas/activity/Sources/20160910/images/wqiang_03.jpg" class="wqiang_c03_bg">
            <div class="wqiang_c03_main">
                <div class="wqiang_c03_main_1">
                    <div class="wqiang_c03_main_1_jilu">
                        <h2>累计加入<span>@ViewBag.getLJJRCount</span>人</h2>

                        <div class="wscroll_cont">
                            <ul class="wgd_cont" id="xstCont" style="overflow: hidden;">
                                @{
                                    B_member_table bmt = new B_member_table();

                                    List<M_GrabIphone> GILists = ViewBag.getCYLIst == null ? null : ViewBag.getCYLIst as List<M_GrabIphone>;

                                    foreach (M_GrabIphone item in GILists)
                                    {
                                        M_member_table mt = bmt.GetModel(item.RegrsterID);
                                        if (mt != null)
                                        {
                                            string name = "";

                                            string k = mt.username.Substring(0, 1);
                                            string d = mt.username.Substring(mt.username.Length - 1, 1);
                                            name = k + "***" + d;

                                <li>
                                    <p style="font-size: 1.2em !important"><span>@name </span><label style="float: left;">投资</label><span>@item.InvestmentAmount 元</span></p>
                                </li>

                                        }
                                    }
                                }
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="wqiang_c03_main_2">
                    <h2><span>幸运大奖</span> 花落谁家</h2>
                    <div class="wqiang_c03_main_2_main">
                        @{
                            List<M_GrabIphone> zjLists = ViewBag.getZJLIst == null ? null : ViewBag.getZJLIst as List<M_GrabIphone>;
                            if (zjLists != null)
                            {
                                int indexer = 1;
                                foreach (M_GrabIphone item in zjLists)
                                {
                                    M_member_table mt = bmt.GetModel(item.RegrsterID);
                                    if (mt != null)
                                    {
                                        Hashtable hashtable = Utils.GetHashtable();
                                        string iD_number = mt.iD_number;
                                        string name = "*";
                                        string Province = "";
                                        if (mt.realname.Length > 0)
                                        {
                                            name = mt.realname.Substring(0, 1);


                                            if (iD_number.Length == 18)
                                            {
                                                if (int.Parse(iD_number.Substring(16, 1)) % 2 == 0)
                                                { name += "女士"; }
                                                else { name += "先生"; }
                                            }
                                            else if (iD_number.Length == 15)
                                            {
                                                if (int.Parse(iD_number.Substring(14, 1)) % 2 == 0)
                                                { name += "女士"; }
                                                else { name += "先生"; }

                                            }
                                            else
                                            {
                                                name += "";
                                            }
                                            if (iD_number.Length > 0)
                                            {
                                                Province = (string)hashtable[iD_number.Substring(0, 2)];
                                            }


                        <div class="wqiang_c03_main_2_main_1">
                            <i>@indexer </i>
                            <p><span>@Province </span><span>@name </span><span>获新一代iPhone7</span><span>32G</span></p>
                        </div>

                                        }
                                    }
                                    indexer++;
                                }
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="wqiang_c04">
            <img src="~/Areas/activity/Sources/20160910/images/wqiang_04.jpg" class="wqiang_c04_bg">
            <div class="wqiang_c04_main">
                <a href="/default.aspx">
                </a>
            </div>
        </div>
        <div class="wqiang_c05" style="padding-top: 26px;">
            <img src="~/Areas/activity/Sources/20160910/images/wqiang_05.jpg" class="wqiang_c05_bg">
            <div class="wqiang_c05_main" style="top: 16%">
                <div>
                    <dl>
                        <dt>活动规则</dt>
                        <dd>1、本活动仅限新注册的用户，每个用户仅限有一次参与机会。</dd>
                        <dd>2、本活动仅限投资6个月标。</dd>
                        <dd>3、同一用户多次投资只计算一次抽奖机会。</dd>
                        <dd>4、满5388人可进行一次抽奖，参与人数满5388后，开始进行随机抽奖，上轮抽奖结束后开始累计新一轮计算。</dd>
                        <dd>5、iPhone7新品于2016年9月7日发布，我平台将根据新品起售时间进行奖品发放， 发放详情会在苹果官网发售后与获奖者沟通发放，活动奖品将于单轮抽奖结束后的3个工作日内由创利投平台客服核对中奖信息，中奖商品不开具相应的发票，不可折现；如无质量问题，不支持退换货。</dd>
                        <dd>6、如平台工作人员连续七个工作日未能联系到您，视为自动放弃奖品。</dd>
                        <dd></dd>
                        <dd></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed_Bar">
        <div class="BarCentert">
            <a href="http://m.chuanglitou.cn/register.html">
                马上注册
            </a>
        </div>
    </div>

    <script type="text/javascript">
                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1254620195'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254620195%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <span id="cnzz_stat_icon_1254620195">
        <a href="http://www.cnzz.com/stat/website.php?web_id=1254620195" target="_blank" title="站长统计"></a>
    </span>



