body{background:#fff;}
.viewport{margin:0 auto;overflow:hidden;height:auto;}
@media only screen and (max-width:300px){body{}.viewport{max-width:300px;font-size:7px;}}
@media only screen and (max-width:320px) and (min-width:300px){body{}.viewport{max-width:320px;font-size:7.5px;}}
@media only screen and (max-width:360px) and (min-width:320px){body{}.viewport{max-width:360px;font-size:8px;}}
@media only screen and (max-width:370px) and (min-width:360px){body{}.viewport{max-width:370px;font-size:9px;}}
@media only screen and (max-width:380px) and (min-width:370px){body{}.viewport{max-width:380px;font-size:9.3px;}}
@media only screen and (max-width:420px) and (min-width:380px){body{}.viewport{max-width:420px;font-size:9.6px;}}
@media only screen and (max-width:480px) and (min-width:420px){body{}.viewport{max-width:480px;font-size:11px;}}
@media only screen and (max-width:560px) and (min-width:480px){body{}.viewport{max-width:560px;font-size:12px;}}
@media only screen and (max-width:570px) and (min-width:560px){body{}.viewport{max-width:570px;font-size:14px;}}
@media only screen and (max-width:630px) and (min-width:570px){body{}.viewport{max-width:630px;font-size:15.3px;}}
@media only screen and (max-width:640px) and (min-width:630px){body{}.viewport{max-width:640px;font-size:15.5px;}}
@media only screen and (max-width:680px) and (min-width:640px){body{}.viewport{max-width:680px;font-size:16.2px;}}
@media only screen and (max-width:710px) and (min-width:680px){body{}.viewport{max-width:710px;font-size:17px;}}
@media only screen and (max-width:740px) and (min-width:710px){body{}.viewport{max-width:740px;font-size:18.5px;}}
@media only screen and (max-width:770px) and (min-width:740px){body{}.viewport{max-width:770px;font-size:19.5px;}}
@media only screen and (min-width:770px){body{}.viewport{max-width:1024px;font-size:26px;}}
.yaoqing_btn{ margin:3em;}
.yaoqing_pic2{ position:relative;}
.yaoqing_pic2 a{width:15em; height:4em; line-height:4em; text-align:center; background:#11b8b8; color:#fff; border-radius:0.8em; position:absolute; right:3em; bottom:1em;}