	p{
		font-family:arial;
		
	}
	a{
		color:#000;
		font-family:arial;
		font-size:0.9em;
	}
	
	.dhtmlgoodies_tree,#floatingContainer{
		margin:5px 0 0 10px;
		padding:0px;
		list-style:none;
	}
	.dhtmlgoodies_tree ul{	/* Sub menu groups */
		margin-left:20px;	/* Left spacing */
		padding-left:0px;
		display:none;	/* Initially hide sub nodes */
	}
	
	#floatingContainer ul{
		margin-left:20px;	/* Left spacing */
		padding-left:0;	
	}
	.dhtmlgoodies_tree li,#floatingContainer li{	/* Nodes */
		list-style-type:none;
		vertical-align:middle;
		
	}
	.dhtmlgoodies_tree li a,#floatingContainer li a{	/* Node links */
		color:#000;
		text-decoration:none;
		font-family:arial;
		font-size:1.0em;
		padding-left:1px;
		line-height:13px;
		margin-left:2px;
		
	}
	.dhtmlgoodies_tree li a.highlightedNodeItem{
		color:#FFF;
		background-color:#009;
	}
	
		
	body{
		margin:0px;
		padding:0px;
	}
	
	.dhtmlgoodies_tree input.folderTreeTextBox{	/* Css for the text input - rename item */
		font-size:10px;
		margin:0px;
		padding:0px;
		height:12px;
	}
	ul{ margin:0; padding:0; list-style:none;}
	.dhtmlgoodies_right{ font-family:ו; margin:0 0 0 10px;}
	.dhtmlgoodies_tit{ font-size:12px; font-weight:bold; margin:5px 0 0 0;}
	.dhtmlgoodies_left_menu{font-size:12px; width:100px; display:inline-block; text-align:right;}
	.btn-lit{ margin:20px 0 20px 20px;}