@charset "utf-8";

.st_tree{ 
	padding:10px;
}


.st_tree a{ 
	text-decoration:none; 
}
.st_tree a:hover{ 
	color:#f33; 
	text-decoration:underline;
}

.st_tree ul{ 
	padding:0 18px; 
	margin:0; 
}


.st_tree ul li{ 
	font-size:13px; 
	color:#222; 
	line-height:18px; 
	cursor:pointer;
	list-style:none; 
	background:url(../img/st_node.gif); 
	background-repeat:no-repeat; 
	padding:0 0 3px 20px;
}


.st_tree ul li ul{}


.st_tree ul li ul li{}


.st_tree .folder{ 
	list-style-image:url(../img/st_icon.png); 
	background:url(../img/st_folder.gif); 
	background-repeat:no-repeat; 
	padding:0 0 0 20px; 
}


.st_tree .open{ 
	list-style-image:url(../img/st_icon_open.png); 
	background:url(../img/st_folder_open.gif); 
	background-repeat:no-repeat; 
	padding:0 0 0 20px; 
}
