
@{
    ViewBag.Title = "银十开财运，投资大返现";

    //ViewBag.keywords = "";

    //ViewBag.desc = "";

    Layout = "~/Views/Shared/Index_Layout.cshtml";
}
<link href="~/Areas/activity/Sources/20161018/style/common.css" rel="stylesheet" />
<link href="~/Areas/activity/Sources/20161018/style/css.css" rel="stylesheet" />
<script>
        (function (doc, win) { var docEl = doc.documentElement, recalc = function () { var clientWidth = docEl.clientWidth; if (!clientWidth) { return } var w = 20 * (clientWidth / 320); if (w > 40) { w = 40 } docEl.style.fontSize = w + "px" }; if (!doc.addEventListener) { return } if ("orientationchange" in window) { win.addEventListener("orientationchange", recalc, false) } win.addEventListener("resize", recalc, false); win.addEventListener("load", recalc, false); doc.addEventListener("DOMContentLoaded", recalc, false); recalc() })(document, window);
</script>
<script type="text/javascript">
    $(function () {
        $("nav.susnav,footer.footer").hide();
    });
</script>



<div class="w_yin10_content">
    <div class="w_yin10_content_1">
        <img src="~/Areas/activity/Sources/20161018/images/w_yin10_01.jpg">
    </div>
    <div class="w_yin10_content_2">
        <img src="~/Areas/activity/Sources/20161018/images/w_yin10_02.jpg">
        <div class="w_yin10_content_2_main">
            <span><a href="/">立即投资</a></span>
            <span><a href="/">立即投资</a></span>
        </div>
    </div>
    <div class="w_yin10_content_3">
        <img src="~/Areas/activity/Sources/20161018/images/w_yin10_03.jpg">
    </div>
    <div class="w_yin10_content_4">
        <img src="~/Areas/activity/Sources/20161018/images/w_yin10_04.jpg">
        <div class="w_yin10_content_4_main">
            <dl>
                <dt>活动细则</dt>
                <dd>1、投资期限3个月以上（含3个月），返现1%；投资期限6个月以上（含6个月），返现2%；</dd>
                <dd>2、投资完成后，奖励直接返现到用户平台账户；</dd>
                <dd>3、该活动奖励可以和红包（抵现券）或加息券奖励同时使用；</dd>
                <dd>4、天标会按照30天换算成月进行核算，如180天标的会按照6个月进行返现。</dd>
            </dl>
        </div>
    </div>
    <div class="fixed_Bar">
        <div class="BarCentert">
            <a href="/register/Index">马上注册</a>
        </div>
    </div>
</div>
<script src="~/js/om_code.js"></script>