*{margin:0;padding:0}
a{text-decoration:none;color:#777}
em,i{font-style:normal}
img{border:none}
body{font:12px "微软雅黑";background:#f0f0f0;}
ul li{list-style: none;}





.w_xianjin_1260{
    width:100%;
    height: auto;
    background:#db1232 url(../images/w_xianjin_1260_bg.jpg) no-repeat;
    background-size: 100%;
    max-width: 640px;
    min-width: 320px;
    margin:0 auto;
}
.w_xianjin_1260_main{
    width: 99%;
    height: auto;
    border:1px solid transparent;
    margin:0 auto;
}
.w_xianjin_1260_main_1{
    width: 100%;
    height: auto;
    margin:0 auto;
    margin-top: 64%;
    position: relative;
}
.w_xianjin_1260_main_1>img{
    width: 100%;
    height: auto;
    display: block;
}
.w_xianjin_1260_main_1_main{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
}
.w_xianjin_1260_main_1_main_1{
    
}
.w_xianjin_1260_main_1_main_1_top{
    text-align: center;
    margin-top: 0.2rem;
}
.w_xianjin_1260_main_1_main_1_top h3{
    font-size: 1em;
    color: #ffe975;
    font-family:"微软雅黑";
}
.w_xianjin_1260_main_1_main_1_top h2{
    font-size: 1em;
    color: #fff;
    font-family:"微软雅黑";
}
.w_xianjin_1260_main_1_main_1_bottom{
    text-align: center;
    margin-top: 0.6rem;
}
.w_xianjin_1260_main_1_main_1_bottom p{
    font-size: 0.5em;
    font-family:"微软雅黑";
    color:#fff0a3;
    vertical-align: middle;
    margin-bottom: 0.3rem;
}
.w_xianjin_1260_main_1_main_1_bottom p span{
    display: inline-block;
    width: 2rem;
    height: 4px;
    background:url(../images/w_xianjin_1260_04.png) no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin:0 10px;
}
.w_xianjin_1260_main_1_main_1_bottom dl{
    display: inline-block;
    width: 43%;
    vertical-align: top;
    margin-bottom: 0.3rem;
}
.w_xianjin_1260_main_1_main_1_bottom dl dt{
    position: relative;
}
.w_xianjin_1260_main_1_main_1_bottom dl dt img{
    width:90%;
    height: auto;
    display: block;
    margin:0 auto;
}
.w_xianjin_1260_main_1_main_1_bottom dl dt p{
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 18%;
    font-family: "微软雅黑";
    font-size: 2.4em;
    color: #ff1a4f;
    letter-spacing: -2px;
}
.w_xianjin_1260_main_1_main_1_bottom dl dt p small{
    font-family: "微软雅黑";
    font-size: 0.5em;
    color: #ff1a4f;
}
.w_xianjin_1260_main_1_main_1_bottom dl dt span{
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 54%;
    font-family: "微软雅黑";
    font-size: 0.6em;
    color: #ff1a4f;
    line-height: 0.6rem;
}
.w_xianjin_1260_main_1_main_1_bottom dl dd{
    color: #fff;
    line-height: 1.1em;
    font-family: "微软雅黑";
    font-size: 0.5em;
    margin-top: 5px;
}
.w_xianjin_1260_main_1_main_2{
    margin-top: 9%;
}
.w_xianjin_1260_main_1_main_2_top h3{
    text-align: center;
    font-size: 1.1em;
    color: #fff;
    font-family:"微软雅黑";
    line-height: 1.5rem;
}
.w_xianjin_1260_main_1_main_2_bottom{
    width: 60%;
    margin:0 auto;
}
.w_xianjin_1260_main_1_main_2_bottom_left{
    display: inline-block;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
    margin-top: 13%;
    margin-left: -1.5%;
    vertical-align: top;
}
.w_xianjin_1260_main_1_main_2_bottom_left p{
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
    line-height: 50px;
    margin-bottom: 10px;
}
.w_xianjin_1260_main_1_main_2_bottom_left .span_1{
    display: inline-block;
    width: 100px;
    background: #fffcda;
    border-radius: 10px;
    text-align: center;
    color: #bf0418;
    font-size: 22px;
    font-family: "微软雅黑";
    padding: 3px 0px;
    line-height: 25px;
    vertical-align: middle;
}
.w_xianjin_1260_main_1_main_2_bottom_left .span_1 small{
    display: block;
    color: #f2142b;
    font-size: 20px;
    font-family: "微软雅黑";
}
.w_xianjin_1260_main_1_main_2_bottom_left sub{
    display: inline-block;
    color: #ffde00;
    font-size: 20px;
    font-family:"微软雅黑";
    vertical-align: middle;
}
.w_xianjin_1260_main_1_main_2_bottom_left .span_2{
    display: inline-block;
    width: 105px;
    background: #fffcda;
    border-radius: 10px;
    text-align: center;
    color: #f2142b;
    font-size: 18px;
    font-family: "微软雅黑";
    padding: 3px 0px;
    line-height: 25px;
    vertical-align: middle;
}
.w_xianjin_1260_main_1_main_2_bottom_left .span_2 small{
    display: block;
    color: #bf0418;
    font-size: 18px;
    font-family:"微软雅黑";
}

.w_xianjin_1260_main_1_main_2_bottom_right{
    display: inline-block;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
    margin-top: 19%;
    margin-left: 7%;
    vertical-align: top;
}
.w_xianjin_1260_main_1_main_2_bottom_right p{
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
    line-height: 50px;  
    margin-bottom: 10px;
}
.w_xianjin_1260_main_1_main_2_bottom_right .span_1{
    display: inline-block;
    width: 88px;
    background: #fffcda;
    border-radius: 10px;
    text-align: center;
    color: #bf0418;
    font-size: 22px;
    font-family: "微软雅黑";
    padding: 3px 0px;
    line-height: 25px;
    vertical-align: middle;
}
.w_xianjin_1260_main_1_main_2_bottom_right .span_1 small{
    display: block;
    color: #f2142b;
    font-size: 18px;
    font-family:"微软雅黑";
}
.w_xianjin_1260_main_1_main_2_bottom_right sub{
    display: inline-block;
    color: #ffde00;
    font-size: 20px;
    font-family:"微软雅黑";
    vertical-align: middle;
}
.w_xianjin_1260_main_1_main_2_bottom_right .span_2{
    display: inline-block;
    width: 129px;
    background: #fffcda;
    border-radius: 10px;
    text-align: center;
    color: #f2142b;
    font-size: 12px;
    font-family: "微软雅黑";
    padding: 3px 0px;
    line-height: 25px;
    vertical-align: middle;
}
.w_xianjin_1260_main_1_main_2_bottom_right .span_2 small{
    display: block;
    color: #bf0418;
    font-size: 18px;
    font-family:"微软雅黑";
}

.w_xianjin_1260_main_1_main_2_bottom a{
    display: block;
    font-size: 30px;
    color: #da1303;
    font-family: "微软雅黑";
    text-align: center;
    margin-top: 96px;
}


.w_xianjin_1260_main_2{
    width: 100%;
    height: auto;
    margin:0 auto;
    margin-top: 5%;
    position: relative;
}
.w_xianjin_1260_main_2>img{
    width: 100%;
    height: auto;
    display: block;
}
.w_xianjin_1260_main_2_main{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
}
.w_xianjin_1260_main_2_main_top{
    text-align: center;
    margin-top: 0.1rem;
}
.w_xianjin_1260_main_2_main_top h3{
    font-size: 1.4em;
    color: #ffe975;
    font-family:"微软雅黑";
    line-height: 2.2rem;
}
.w_xianjin_1260_main_2_main_top h2{
    font-size: 1.1em;
    color: #fff;
    font-family:"微软雅黑";
    line-height: 1.1rem;
}
.w_xianjin_1260_main_2_main_bottom{
    text-align: center;
    margin-top: 0.3rem;
}
.w_xianjin_1260_main_2_main_bottom p{
    font-size: 0.5em;
    font-family:"微软雅黑";
    color:#fff0a3;
    vertical-align: middle;
    margin-bottom: 0.2rem;
}
.w_xianjin_1260_main_2_main_bottom p span{
    display: inline-block;
    width: 2rem;
    height: 6px;
    background:url(../images/w_xianjin_1260_04.png) no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin:0 10px;
}
.w_xianjin_1260_main_2_main_bottom dl{
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.w_xianjin_1260_main_2_main_bottom dl dt{
    position: relative;
}
.w_xianjin_1260_main_2_main_bottom dl dt img{
    width:90%;
    height: auto;
    display: block;
    margin:0 auto;
}
.w_xianjin_1260_main_2_main_bottom dl dt h2{
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 13%;
    font-family: "微软雅黑";
    font-size: 1.2em;
    color: #ff1a4f;
	background:-webkit-linear-gradient(bottom,#e74806,#ff8e30);
	-webkit-background-clip:text;/*只有webkit内核支持text的剪切模式*/
	color:transparent;
}
.w_xianjin_1260_main_2_main_bottom dl dt h3{
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 26%;
    font-family: "微软雅黑";
    font-size: 5em;
    color: #fd2734;
    font-weight:normal;
}
.w_xianjin_1260_main_2_main_bottom dl dt h3 small{    
    font-family: "微软雅黑";
    font-size: 36px;
    color: #fd2734;
    font-weight:normal;
}
.w_xianjin_1260_main_2_main_bottom dl dt p{
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 83%;
    font-family: "微软雅黑";
    font-size: 1em;
    color: #a23524;
    font-weight:normal;
}
.w_xianjin_1260_main_2_main_bottom dl dd a{
    display: block;
    width: 212px;
    color: #da1303;
    line-height: 1.8rem;
    font-family: "微软雅黑";
    font-size: 1.5em;
    background: #fef08b;
    margin:0 auto;
    text-align: center;
    border-radius: 5px;
    margin-top: 0.4rem;
}


.w_xianjin_1260_main_3{
    width: 94%;
    height: auto;
    color: #fff;
    font-family:"微软雅黑";
    margin-top: 1rem;
    font-weight:normal;
    padding-bottom: 200px;
    padding:0 3% 20% 3%;
}
.w_xianjin_1260_main_3 dl dt{
    font-size: 1.5em;
    font-weight:bold;
    line-height: 2rem;
}
.w_xianjin_1260_main_3 dl dd{
    font-size: 1em;
    line-height: 1rem;
    margin-left:14pt;
    text-indent:-16pt;
}

.w_xianjin_fixed{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom:0%;
    left: 0;
    background:rgba(0,0,0,.5);
}
.w_xianjin_fixed img{
    display: block;
    margin:0 auto;
    margin-top: -66px;
}


.shade{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.85);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.shade_1{
    width: 350px;
    height: 480px;
    background: url(../images/app1260_1.png) no-repeat;
    background-size: 100%;
    margin:38% auto;
    position: relative;
    display: none;
}
.shade_1 span{
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 90.5%;
    top: 3.5%;
    background:transparent;
    color: transparent;
    opacity: 0;
}
.shade_2{
    width: 350px;
    height: 480px;
    background: url(../images/app1260_2.png) no-repeat;
    background-size: 100%;
    margin:38% auto;
    position: relative;
    display: none;
}
.shade_2 span{
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 90.5%;
    top: 3.5%;
    background:transparent;
    color: transparent;
    opacity: 0;
}

.w_xianjin_zhuce{
	position: absolute;
	bottom: 1%;
	width: 6rem;
	left: 50%;
	margin-left: -3rem;
	text-align: center;
	color: #da1303;
	font-size: 1.5em;
	font-family: "微软雅黑";
	line-height: 1.1rem;
}

@media screen and (max-device-width: 320px) {
    .w_xianjin_1260_main_1_main_1_bottom dl{
        width:43%!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl{
        margin-bottom: 1rem!important;
        margin-top: 1rem!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h3{
        top: 28%!important;
    }
    .w_xianjin_1260_main_1_main_1_top h3,.w_xianjin_1260_main_1_main_1_top h2{
        font-size: 0.9em!important;
        line-height: 0.9rem!important;
    }
    .w_xianjin_1260_main_2_main_bottom{
        margin-top: 0.5rem!important;
    }
    .w_xianjin_1260_main_2_main_top h3,.w_xianjin_1260_main_2_main_top h2{
        font-size:1.2em!important;
        line-height: 2rem!important;
    }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
    .w_xianjin_1260_main_1_main_1_bottom dl{
        width:49%!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h3{
        top: 32%!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl{
        margin-bottom: 1.2rem!important;
        margin-top: 1.2rem!important;
    }
    .w_xianjin_1260_main_1_main_1_top h3,.w_xianjin_1260_main_1_main_1_top h2{
        font-size: 1em!important;
        line-height: 1rem!important;
    }
    .w_xianjin_1260_main_2_main_bottom{
        margin-top: 0.5rem!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dt span{
        font-size: 1em!important;
    }
}
@media screen and (min-width: 376px) and (max-width: 500px) {
    .w_xianjin_1260_main_1_main_1_bottom dl{
        width:49%!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dd{
        line-height: 0.8rem!important;
        font-size: 1em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h3{
        top: 36%!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl{
        margin-bottom: 1.4rem!important;
        margin-top: 1.4rem!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dt p{
        top:20%!important;
        font-size: 3em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dt span{
        font-size: 1.1em!important;
    }
    .w_xianjin_1260_main_1_main_1_top h3,.w_xianjin_1260_main_1_main_1_top h2{
        font-size: 1.2em!important;
        line-height: 1rem!important;
    }
    .w_xianjin_1260_main_2_main_top h3{
        font-size: 1.6em!important;
    }
    .w_xianjin_1260_main_2_main_top h2{
        font-size: 1.4em!important;
    }
    .w_xianjin_1260_main_2_main_bottom{
        margin-top: 0.5rem!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom>p{
        font-size: 1em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom p span{
        width: 2.2rem!important;
        height: 6px!important;
    }
    .w_xianjin_1260_main_2_main_bottom p{
        font-size: 1em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h2{
        font-size: 1.5em!important;
    }
}
@media screen and (min-width: 501px) and (max-width: 699px) {
    .w_xianjin_1260_main_1_main_1_bottom dl{
        width:49%!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dd{
        line-height: 0.8rem!important;
        font-size: 1.3em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h3{
        top: 40%!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl{
        margin-bottom: 1.6rem!important;
        margin-top: 1.6rem!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom p{
        font-size: 1.3em!important;
    }
    .w_xianjin_1260_main_2_main_bottom p{
        font-size: 1.5em!important;
    }
    .w_xianjin_1260_main_1_main_1_top h3,.w_xianjin_1260_main_2_main_top h3{
        font-size: 1.5em!important;
    }
    .w_xianjin_1260_main_1_main_1_top h2,.w_xianjin_1260_main_2_main_top h2{
        font-size: 1.5em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dt p{
        font-size: 3.6em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dt span{
        font-size: 1.4em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom p span{
        width: 2rem!important;
        height: 10px!important;
    }
    .w_xianjin_1260_main_2_main_bottom p span{
        width: 2rem!important;
        height: 8px!important;
    }
    .w_xianjin_zhuce{
        font-size: 2.5em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h2{
        font-size: 1.8em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h3{
        font-size: 6em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dd a{
        line-height: 1.3rem!important;
    }
    .w_xianjin_1260_main_3 dl dd {
        font-size: 1.3em!important;
        margin-left: 21pt!important;
        text-indent: -22pt!important;
    }
}
@media screen and (min-width: 700px) and (max-width: 768px) {
    .w_xianjin_1260_main_1_main_1_bottom dl{
        width:49%!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dd{
        line-height: 0.8rem!important;
        font-size: 1.3em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h3{
        top: 27%!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl{
        margin-bottom: 1.6rem!important;
        margin-top: 1.6rem!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom p{
        font-size: 1.3em!important;
    }
    .w_xianjin_1260_main_2_main_bottom p{
        font-size: 1.5em!important;
    }
    .w_xianjin_1260_main_1_main_1_top h3,.w_xianjin_1260_main_2_main_top h3{
        font-size: 2em!important;
    }
    .w_xianjin_1260_main_1_main_1_top h2,.w_xianjin_1260_main_2_main_top h2{
        font-size: 2em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dt p{
        font-size: 4.4em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dt span{
        font-size: 1.6em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom p span{
        width: 2rem!important;
        height: 10px!important;
    }
    .w_xianjin_1260_main_2_main_bottom p span{
        width: 2rem!important;
        height: 8px!important;
    }
    .w_xianjin_zhuce{
        font-size: 2.5em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h2{
        font-size: 2.2em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h3{
        font-size: 8em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dd a{
        line-height: 1.3rem!important;
    }
    .w_xianjin_1260_main_3 dl dd {
        font-size: 1.3em!important;
        margin-left: 21pt!important;
        text-indent: -22pt!important;
    }
}
@media screen and (min-width: 769px){
    .w_xianjin_1260_main_1_main_1_bottom dl{
        width:49%!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dd{
        line-height: 0.8rem!important;
        font-size: 1.3em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h3{
        top: 27%!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl{
        margin-bottom: 1.6rem!important;
        margin-top: 1.6rem!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom p{
        font-size: 1.3em!important;
    }
    .w_xianjin_1260_main_2_main_bottom p{
        font-size: 1.5em!important;
    }
    .w_xianjin_1260_main_1_main_1_top h3,.w_xianjin_1260_main_2_main_top h3{
        font-size: 2em!important;
    }
    .w_xianjin_1260_main_1_main_1_top h2,.w_xianjin_1260_main_2_main_top h2{
        font-size: 2em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dt p{
        font-size: 4.4em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom dl dt span{
        font-size: 1.6em!important;
    }
    .w_xianjin_1260_main_1_main_1_bottom p span{
        width: 2rem!important;
        height: 10px!important;
    }
    .w_xianjin_1260_main_2_main_bottom p span{
        width: 2rem!important;
        height: 8px!important;
    }
    .w_xianjin_zhuce{
        font-size: 2.5em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h2{
        font-size: 2.2em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dt h3{
        font-size: 8em!important;
    }
    .w_xianjin_1260_main_2_main_bottom dl dd a{
        line-height: 1.3rem!important;
    }
    .w_xianjin_1260_main_3 dl dd {
        font-size: 1.3em!important;
        margin-left: 21pt!important;
        text-indent: -22pt!important;
    }
}

#yijieshu{
            display: block;
            background: url(../images/yijieshu.png) no-repeat;
            background-size: 100%;
            width: 117px;
            height: 94px;
            position: absolute;
            right: 2%;
            top: 17%;
            z-index:99;
        }


