@{

    ViewBag.Title = "新手注册送红包-创利投";

    ViewBag.keywords = "新手理财活动,投资理财活动,理财送现金，创利投活动，创利投";

    ViewBag.desc = "创利投推出新手理财送好礼，现金红包送不停活动，活动期间新用户注册就送50元，首次投资成功再送您50元，挂牌上市企业创利投等您来赚钱！";

    Layout = "~/Views/Shared/Index_Layout.cshtml";
}
<link href="~/Areas/activity/Sources/20161001/css/css.css" rel="stylesheet" />
<link href="~/Areas/activity/Sources/20161001/css/common.css" rel="stylesheet" />
<script src="~/Areas/activity/Sources/20161001/js/jquery-1.9.1.min.js"></script>
<script>
    (function (doc, win) { var docEl = doc.documentElement, recalc = function () { var clientWidth = docEl.clientWidth; if (!clientWidth) { return } var w = 20 * (clientWidth / 320); if (w > 40) { w = 40 } docEl.style.fontSize = w + "px" }; if (!doc.addEventListener) { return } if ("orientationchange" in window) { win.addEventListener("orientationchange", recalc, false) } win.addEventListener("resize", recalc, false); win.addEventListener("load", recalc, false); doc.addEventListener("DOMContentLoaded", recalc, false); recalc() })(document, window);
</script>
<script>
    $(function () {
        $("footer").hide(); $("nav").hide() ;
    });
</script>

<div class="wzhuce10_content">
    <div class="wzhuce10_content_1">
        <img src="~/Areas/activity/Sources/20161001/images/wzhuce10_1.png" />
    </div>
    <div class="wzhuce10_content_2">
        <img src="~/Areas/activity/Sources/20161001/images/wzhuce10_2.png" />
        <a href="http://m.chuanglitou.cn/register.html" class="wzhuce10_btn wzhuce10_content_2_btn"></a>
    </div>
    <div class="wzhuce10_content_3">
        <img src="~/Areas/activity/Sources/20161001/images/wzhuce10_3.png" />
        <a href="http://m.chuanglitou.cn/register.html" class="wzhuce10_btn wzhuce10_content_3_btn"></a>
    </div>
    <div class="wzhuce10_content_4">
        <img src="~/Areas/activity/Sources/20161001/images/wzhuce10_4.png" />
        <div class="wzhuce10_content_4_main">
            <div>
                <dl>
                    <dt>活动细则</dt>
                    <dd>1、活动时间：2016年10月1日 — 2016年10月15日；</dd>
                    <dd>2、活动期间，用户注册成功（需完成实名认证）可获得188元代金券，该代金券有效期截止到2016年10月15日；</dd>
                    <dd>3、用户首次投资创利投任意项目（最低100元）再送888元代金券，该代金券有效期截止到2016年10月15日；</dd>
                    <dd>4、代金券使用规则：投资到期后，代金券自动转化为可用余额，可随投资本金一起提现，也可用于下次投资，<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp详情见下表：</dd>
                    <dd class="wzhuce10_content_4_dd_biaoge">
                        <img src="~/Areas/activity/Sources/20161001/images/wzhuce10_biaoge.png">
                    </dd>
                    <dd>5、所获奖励请到“我的账户 > 资金流水 > 奖励账户流水”查看；</dd>
                    <dd>6、刷奖、冒用他人身份证、银行卡等作弊者一经核实，取消活动资格，创利投有权收回所得奖励。</dd>
                    <dd class="wzhuce10_content_4_dd_bottom">活动最终解释权在法律范围内归北京创利投网络科技有限公司所有</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="fixed_Bar">
    <div class="BarCentert">
        <a href="http://m.chuanglitou.cn/register.html">马上注册</a>
    </div>
</div>


<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1254620195'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254620195%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>