@using Webdiyer.WebControls.Mvc
@using ChuanglitouP2P.Model;
@using ChuangLitouP2P.Models;
@using ChuanglitouP2P.Common;
@model  ChuangLitouP2P.Models.JiaxiModelsLsit


@{
    ViewBag.Title = "奖励管理-我的加息券-创利投";
    ViewBag.keywords = "奖励管理-我的加息券-创利投";
    ViewBag.desc = "创利投是阳光可信赖的互联网金融理财服务平台，主要从事P2P理财、P2B理财、理财网络借贷、投资理财、个人理财等互联网金融服务，历史平均年化收益率8%-12%，由受金融局监管的担保机构提供担保，当日投资当日计息。创利投励志成为客户值得信赖的互联网投融资理财平台。";

    Layout = "~/Views/Shared/Ucenter_Layout.cshtml";   
}
<script src="~/Scripts/layer.min.js" type="text/javascript" charset="utf-8"></script>
<link href="~/Content/pagecss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    var dff;
    function AjaxStart() {dff= layer.msg("正在获取数据，请稍候...", 0.5, 1);
    }
    function AjaxStop() {
        var index = parent.layer.close(dff); //获取窗口索引
        parent.layer.close(index);
    }
    function mOver(obj) {
        $(obj).children('em').css("display", "block");
    }
    function mOut(obj) {
        $(obj).children('em').css("display", "none");
    }
</script>
<div class="content">
    <!--公共的左侧-->
    @UCLeft.HX_UCLeft()
    <!--右侧不同的地方-->
    <div>
        <div class="cash jxc">
            <h2>
                我的加息券
                <a  href="javascript:;" class="jx_tc01">怎样获得加息券？</a>
            </h2>
            <div class="cTab1 cTab">
                <p class="cPE">未使用</p>
                <p>已使用</p>
                <p>已过期</p>
            </div>
            <div class="cTXs clearfix">
                @using (Html.BeginForm("jiaxi", ViewContext.RouteData.GetRequiredString("controller"), new { id = "" }, FormMethod.Post, new { id = "searchForm", @class = "form-inline well well-sm" }))
                { }

                    <div id="dTable" class="dfs">
                    @Html.Partial("_JiaXiList", Model.Jiaxi)
                    </div>

                @using (Html.BeginForm("jiaxi", ViewContext.RouteData.GetRequiredString("controller"), new { id = "" }, FormMethod.Post, new { id = "searchForm1", @class = "form-inline well well-sm" }))
                { }
                    <div class="dfs" id="JiaxiUses"  style="display:none">
                        @Html.Partial("_JiaxiUses", Model.JiaxiUses)
                    </div>

                @using (Html.BeginForm("jiaxi", ViewContext.RouteData.GetRequiredString("controller"), new { id = "" }, FormMethod.Post, new { id = "searchForm2", @class = "form-inline well well-sm" }))
                { }

                    <div class="dfs" id="JiaxiLost" style="display:none">
                        @Html.Partial("_JiaxiLost", Model.JiaxiLost)
                    </div>
                </div>
            <p class="cJx"></p>
            <h2 class="cH2">加息券使用说明</h2>
            <p class="cCommon">
                1.加息券仅用于用户在创利投平台投资，若未成功使用，系统将自动返还抵扣券；
            </p>
            <p class="cCommon">
                2. 加息券在项目投资时选择使用，您可在支持加息券的项目上，勾选使用加息券；
            </p>
            <p class="cCommon">
                3. 使用加息券后，将在原有的利率上加息，并产生额外的收益；
            </p>
            <p class="cCommon">
                4. 根据加息券规则设置，加息券不可以叠加使用，一个项目一次只能使用一张券。若您账户里有多张券，可以分开使用；
            </p>
            <p class="cCommon">
                5. 加息券过期无效，有效期详见券面说明；
            </p>
            <p class="cCommon">
                    6. 加息券使用规则最终解释权归创利投所有；
</p>
            <p class="cCommon">
        7.如果您在使用过程中，遇到任何问题，请拨打创利投客服电话: 010-53732056。
</p>
        </div> 


    </div>
</div>

<!--遮罩层-->
<div class="zhezhaoceng" style="display:none;"></div>
<!--抵扣券使用说明弹出框-->
<div class="jx_tCont" id="use_rules" style="display:none;">
    <p>
        <b style="font-size:16px;">温馨提示：</b><br />
        平台会不定期的发放加息券到用户平台账户中，请持续关注创利投平台动态。
    </p>
    <button type="button" class="close">关闭</button>
</div>

@section Scripts{@{Html.RegisterMvcPagerScriptResource();}}