

.yin10_content{width: 100%; height: 100%;margin:0 auto;}
.yin10_content_1{width: 100%;height:auto;}
.yin10_content_1 img{width: 100%;height:auto;display: block;}
.yin10_content_2{width: 100%;height:auto;position:relative;}
.yin10_content_2 img{width: 100%;height:auto;display: block;}
.yin10_content_2_main{width: 48.2%;height: auto;position: absolute;bottom: 20%;left: 24%;text-align: center;padding:0 2%;}
.yin10_content_2_main span{width: 45%;text-align: center;display: inline-block;}
.yin10_content_2_main a{width: 200px;height: 45px;background:url(../images/yin10_btn1.png) no-repeat;background-size:100%;display: inline-block;text-align: center;line-height: 40px;font-size: 18px;color:#fff;}
.yin10_content_2_main a:hover{background:url(../images/yin10_btn2.png) no-repeat;background-size:100%;}
.yin10_content_3{width: 100%;height:auto;}
.yin10_content_3 img{width: 100%;height:auto;display: block;}
.yin10_content_4{width: 100%;height:auto;position:relative;}
.yin10_content_4 img{width: 100%;height:auto;display: block;min-height: 300px;}
.yin10_content_4_main{width: 50%;height: auto;position: absolute;left: 25%;top: 1%;}
.yin10_content_4_main dl{color: #fff;}
.yin10_content_4_main dl dt{font-size: 24px;line-height: 60px;}
.yin10_content_4_main dl dd{font-size: 16px;line-height: 35px;}
